*.deflate
*.egg-info
*.elc
*.gz
*.less.css
*.po.js
*.pyc
*.styl.css
*.swp
*~
.#*
.DS_Store
.buildout
.emacs.d/.autosaves
.emacs.d/.emacs-places
.emacs.d/history
.emacs.d/site/nxhtml
.emacs.d/tramp
.emacs.desktop
.node-version
.virtualenvs
.zsh/cache
TAGS
build_*
locale/
node_modules
npm-debug.log
settings_local.js
settings_local_hosted.js
smokealarm/captures/
src/locales/*
src/media/build_id.txt
src/media/css/include.css
src/media/css/include.css
src/media/imgurls.txt
src/media/include.css
src/media/include.js
src/media/js/include.js
src/media/locales/*
src/templates.js
tags
