@font-face {
  src: local('Fira Sans OT Light Regular'),local('Fira Sans Light Regular'),local('Fira Sans OT Light'),local('Fira Sans Light'),local('Fira Sans OT'),local('Fira Sans'),url(../fonts/FiraSans/firasansot-light-webfont.woff) format('woff'),url(../fonts/FiraSans/firasansot-light-webfont.ttf) format('truetype'),url(../fonts/FiraSans/firasansot-light-webfont.svg#fira_sans_otlight) format('svg');
  font-family: FiraSans;
  font-weight: 300;
}

@font-face {
  src: local('Fira Sans OT Regular'),local('Fira Sans Regular'),local('Fira Sans OT'),local('Fira Sans'),url(../fonts/FiraSans/firasansot-regular-webfont.woff) format('woff'),url(../fonts/FiraSans/firasansot-regular-webfont.ttf) format('truetype'),url(../fonts/FiraSans/firasansot-regular-webfont.svg#fira_sans_otregular) format('svg');font-family:FiraSans;font-weight:400;
}

@font-face {
  src: local('Fira Sans OT Medium Regular'),local('Fira Sans Medium Regular'),local('Fira Sans OT Medium'),local('Fira Sans Medium'),local('Fira Sans OT'),local('Fira Sans'),url(../fonts/FiraSans/firasansot-medium-webfont.woff) format('woff'),url(../fonts/FiraSans/firasansot-medium-webfont.ttf) format('truetype'),url(../fonts/FiraSans/firasansot-medium-webfont.svg#fira_sans_otregular) format('svg');font-family:FiraSans;font-weight:500;
}

@font-face {
  src: local('Fira Sans OT Bold'),local('Fira Sans Bold'),local('Fira Sans OT'),local('Fira Sans'),url(../fonts/FiraSans/firasansot-bold-webfont.woff) format('woff'),url(../fonts/FiraSans/firasansot-bold-webfont.ttf) format('truetype'),url(../fonts/FiraSans/firasansot-bold-webfont.svg#fira_sans_otbold) format('svg');font-family:FiraSans;font-weight:600;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  background: #333;
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: FiraSans, Helvetica, sans-serif;
}

a {
  color: #369;
  text-decoration: none;
}

a:not([href]) {
  cursor: pointer;
}

a:hover {
  color: #036;
}

.header {
  flex: 1 0 62px;
}

main {
  flex: auto;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

form {
  align-items: flex-start;
  background: rgb(0,153,208);
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.5);
  display: flex;
  padding: 10px 15px;
}

button, input {
  font-family: inherit;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input {
  background: #f4f4f4 url(../img/search.png) 10px 10px no-repeat;
  background-size: 16px;
  border: 2px solid rgba(0,0,0,.15);
  border-radius: 10px;
  color: #333;
  flex: 1;
  font-size: 20px;
  height: 40px;
  padding: 3px 10px 3px 32px;
  position: relative;
  transition: background .3s ease-in-out, padding .3s ease-in-out, border .3s ease-in, box-shadow .3s ease-in;
  width: 100%;
  z-index: 2;
}

input:invalid, input:required {
  box-shadow: none;
}

input:focus {
  background-position: -18px 10px;
  border-color: #5ca9e4;
  box-shadow: 0 0 0 2px rgba(70,161,231,.3),0 1px 2px rgba(0,0,0,.2) inset;
  padding-left: 10px;
  outline: 0;
}

::-webkit-input-placeholder {
  color: #bbb;
}

:-moz-placeholder {
  color: #bbb;
  text-overflow: ellipsis;
}

::-moz-placeholder {
  color: #888;
  text-overflow: ellipsis;
}

[placeholder] {
  text-overflow: ellipsis;
}

[placeholder]:-moz-placeholder:focus {
  color: transparent!important;
}

[placeholder]:focus::-moz-placeholder {
  color: transparent!important;
}

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent!important;
}

.search-clear::before {
  color: #ccc;
  content: "\02297";
  display: block;
  font-size: 30px;
  height: 41px;
  line-height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 10px 25px 10px 20px;
  z-index: 2;
}

.search-clear:hover::before, input:focus~.search-clear::before {
  color: #999;
}

input:focus~.search-clear:hover::before {
  color: #666;
}

input:invalid~.search-clear {
  opacity: 0;
  visibility: hidden;
}

input:valid {
  padding-right: 33px;
}

input:valid~.search-clear {
  opacity: 1;
  visibility: visible;
}

.logo {
  background: url(../img/logo.png) 0 50% no-repeat;
  background-size: 80px;
  color: #fff;
  display: block;
  font-size: 14px;
  height: 40px;
  text-indent: -9999px;
  width: 100px;
}

main h1 {
  color: #74c9ef;
  font-weight: 300;
  margin-bottom: 15px;
}

.results ol {
  list-style: none;
  padding: 0 15px 15px;
}

.results li {
  font-size: 14px;
  line-height: 16px;
  margin-top: 15px;
  min-height: 70px;
  width: 100%;
}

.details {
  min-height: 68px;
  padding: 10px;
  position: relative;
}

.game {
  background: rgba(255,255,255,.9);
  box-shadow: 0 2px 5px rgba(0,0,0,.6);
  padding: 0;
  transition: border .1s ease-in, box-shadow .1s ease-in;
  width: 100%;
}

.game .details,
.game .details * {
  pointer-events: none;
}

.game:hover {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
}

.game:hover .screenshot:before {
  background: 0 0;
}

.screenshot.active {
  padding-bottom: 300px;
}

.game:active {
  background: #eee;
  opacity: .9;
}

.screenshot {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  opacity: .8;
  transition: .3s padding;
  position: relative;
  width: 100%;
}

.screenshot:before {
  background: rgba(0,0,0,.5);
  content: "";
  position: absolute;
  height: 100%;
  transition: .3s background;
  width: 100%;
}

.icon {
  background-repeat: no-repeat;
  background-size: 48px;
  bottom: -24px;
  height: 48px;
  position: absolute;
  right: 10px;
  width: 48px;
  z-index: 10;
}

.game {
  display: block;
  position: relative;
}

.trunc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.name {
  color: #333;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.dev {
  color: #999;
  font-size: 12px;
  line-height: 14px;
  width: calc(100% - 90px);
}

.description {
  color: #666;
  font-size: 11px;
  line-height: 14px;
  margin: 15px 0 10px;
}

.play {
  background: rgba(46,204,113,.825);
  border: 0;
  box-shadow: 0 2px rgba(34,149,82,.825);
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  line-height: 1;
  padding: 10px 0 8px;
  pointer-events: none;
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  text-align: center;
  transition: .2s all ease-in;
  width: 80px;
}

.game:focus .play,
.game:hover .play {
  background: #2ecc71;
  box-shadow: 0 2px #229552;
}

masthead {
  background: #333 url(../img/webgl-games.png) 100% 0 no-repeat;
  background-size: auto 250px;
  color: #fff;
  display: none;
  font-size: 32px;
  font-weight: 300;
  height: 250px;
  line-height: 250px;
  padding: 0 20px;
}

@media (min-width: 600px) {
  .results ol {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7.5px;
  }

  .results li {
    display: flex;
    flex: 0 1 50%;
    padding: 0 7.5px;
  }
}

@media (min-width: 800px) {
  .results li {
    flex-basis: 33.3333%;
  }
}

@media (min-width: 1000px) {
  .results li {
    flex-basis: 25%;
  }
}

@media (min-width: 1600px) {
  .results li {
    flex-basis: 20%;
  }
}
