{% set current_page = 'feedback' %}

<div class="main feedback modal c">
  <div>
    <form method="post" class="feedback-form form-modal">
      <h2>{{ _('Feedback]) }}</h2>
      <a href="#" class="form-close">×</a>
      <p>
        <textarea name="feedback" placeholder="{{ _('Tell us why we rock. Or how we can rock harder.') }}" data-min-height="150" required></textarea>
      </p>
      <p class="form-footer">
        <button class="btn btn-big" type="submit">{{ _('Submit') }}</button>
      </p>
    </form>
    </ul>
  </div>
</div>
