<nav role="navigation">
  <a href="#" id="nav-back" class="header-button icon back" title="{{ _('Back') }}"><b>{{ _('Back') }}</b></a>
  <h1 class="site"><a href="/" class="wordmark">Mozilla Galaxy</a></h1>
  <span class="flex-shift"></span>
  <span class="flex-span"></span>
  <input type="search">
  <a href="/settings" class="only-logged-in email">
    <b>{{ user.get_setting('email') }}</b></a>
  <a class="logout only-logged-in" href="#">{{ _('Sign Out') }}</a>
  <a class="header-button persona only-logged-out" href="#">{{ _('Sign In') }}</a>
</nav>
