<div class="inner">
  <h1 class="site"><a href="/" class="wordmark">Galaxy</a></h1>
  <nav role="navigation">{% include 'nav.html' %}</nav>
  <span class="flex-shift"></span>
  <span class="flex-span"></span>
  <div class="auth">
    <div class="user-container">
      {% set user_url = url('user', [user.get_settings('public').id]) %}
      {% if user.logged_in() %}
        <a href="{{ user_url }}" class="avatar" style="background-image: url({{ user.get_settings('public').avatar or gravatar(user.get_setting('email')) }})"></a>
      {% endif %}
      <div class="user-links">
        <a href="{{ user_url }}" class="only-logged-in email">{{ user.get_setting('username') }}</a>
        <a class="logout only-logged-in" href="#">{{ _('Sign out') }}</a>
      </div>
      <a class="header-button persona only-logged-out" href="#">{{ _('Sign in') }}</a>
    </div>
    {% if user.logged_in() %}
      <a href="{{ url('settings') }}" class="only-logged-in header-button icon settings"></a>
    {% endif %}
  </div>
</div>
