<section class="hero">
  <div>
    <h1>{{ _('Dungeon Defenders II') }}</h1>
    <p>{{ _('Dungeon Defenders II is the sequel to our popular tower-defense role-playing game, Dungeon Defenders. Unlike it’s predecessor, Dungeon Defenders II features a cooperative and competitive mode. Heroes, cosmetic items, pets, and more will transfer across both modes.') }}</p>
    <a href="#" class="purchase">$19.95</a>
  </div>
</section>

<menu class="games">
  <a href="#" class="prev game tile">
    <img src="{{ media('img/games/angrybirds_sq.png') }}" alt="Angry Birds">
    <div>
      <strong>Angry Birds</strong>
      <span>Rovio</span>
    </div>
  </a>
  <a href="#" class="prev game tile">
    <img src="{{ media('img/games/cookieclicker_sq.png') }}" alt="Angry Birds">
    <div>
      <strong>Cookie Clicker</strong>
      <span>Orteil</span>
    </div>
  </a>
  <a href="#" class="game tile">
    <img src="{{ media('img/games/cookieclicker_sq.png') }}" alt="Angry Birds">
    <div>
      <strong>Cookie Clicker</strong>
      <span>Orteil</span>
    </div>
  </a>
  <a href="#" class="game tile">
    <img src="{{ media('img/games/cookieclicker_sq.png') }}" alt="Angry Birds">
    <div>
      <strong>Cookie Clicker</strong>
      <span>Orteil</span>
    </div>
  </a>
  <a href="#" class="next game tile">
    <img src="{{ media('img/games/cookieclicker_sq.png') }}" alt="Angry Birds">
    <div>
      <strong>Cookie Clicker</strong>
      <span>Orteil</span>
    </div>
  </a>
  <a href="#" class="next game tile">
    <img src="{{ media('img/games/cookieclicker_sq.png') }}" alt="Angry Birds">
    <div>
      <strong>Cookie Clicker</strong>
      <span>Orteil</span>
    </div>
  </a>
</menu>
