<div class="badges">
  <span>{{ _('Badges In Progress:') }}</span>
  <a href="#" class="badge" title="Badge!">&#61635;</a>
  <a href="#" class="badge" title="Another badge!">&#61749;</a>
</div>

<a href="{{ url('homepage') }}" class="homepage">{{ _('All Games') }}</a>
<a href="#" class="library">{{ _('Library') }}</a>
<a href="#" class="profile">{{ _('Profile') }}</a>
<a href="#" class="friends">{{ _('Friends') }}</a>
<a href="#" class="community">{{ _('Community') }}</a>
<a href="{{ url('submit') }}" class="submit">{{ _('Submit') }}</a>
