<h1>{{ _('Submit an App') }}</h1>
<form class="submit-form" method="post">
  <div>
    <label>
      {{ _('Name') }}
      <input type="text" name="name">
    </label>
  </div>
  <div>
    <label>
      {{ _('Slug') }}
      <input type="text" name="slug">
    </label>
  </div>
  <div>
    <label>
      {{ _('URL') }}
      <input type="url" name="url">
    </label>
  </div>
  <div>
    <label>
      {{ _('Description') }}
      <textarea name="description"></textarea>
    </label>
  </div>
  <div>
    <label>
      {{ _('Icon') }}
      <input type="file" name="icon">
    </label>
  </div>

  <div>
    <h2>{{ _('Orientation') }}</h2>
    <label>
      <input type="radio" name="orientation" value="portrait"> {{ _('Portrait') }}
    </label>
    <label>
      <input type="radio" name="orientation" value="landscape"> {{ _('Landscape') }}
    </label>
    <label>
      <input type="radio" name="orientation" value="both"> {{ _('Both') }}
    </label>
  </div>

  <div>
    <h2>{{ _('Fullscreen') }}</h2>
    <label>
      <input type="radio" name="fullscreen" value="1"> {{ _('Yes') }}
    </label>
    <label>
      <input type="radio" name="fullscreen" value="0"> {{ _('No') }}
    </label>
  </div>

  <div>
    <h2>{{ _('Screenshots') }}</h2>
    <label>
      <input type="file" name="screenshot">
    </label>
  </div>

  <div>
    <label>
      {{ _('Privacy Policy') }}
      <textarea name="privacy-policy"></textarea>
    </label>
  </div>

  <div>
    <h2>License</h2>
    <label>
      <input type="radio" name="license" value=""> {{ _('Public Domain') }}
      <input type="radio" name="license" value="cc"> {{ _('Creative Commons') }}
    </label>
  </div>

  <button type="submit">{{ _('Submit') }}</button>
</form>
