<section class="hero">
  <div>
    <button class="play hidden">{{ _('Play') }}</button>
    <h1>{{ _('Dungeon Defenders II') }}</h1>
    <p>{{ _('Dungeon Defenders II is the sequel to our popular tower-defense role-playing game, Dungeon Defenders. Unlike its predecessor, Dungeon Defenders II features a cooperative and competitive mode. Heroes, cosmetic items, pets, and more will transfer across both modes.') }}</p>
    <form class="purchase-form" method="post">
      <a href="#" class="purchase" id="purchase">$19.95</a>
    </form>
  </div>
</section>
