<h1>{{ _('Submit a Game') }}</h1>
<!-- <form class="submit-form grid" method="post" data-required="{{ _('Required') }}">
  <div class="unit two-of-three">
    <div class="content form-field">
      <label>
        <input type="text" class="large" name="name" placeholder="{{ _('Enter game title here') }}" required>
        <span class="l">{{ _('Name') }}</span>
        <span class="req" data-required="{{ _('Required') }}"></span>
      </label>
    </div>
  </div>
  <div class="unit one-of-three">
    <div class="content form-help">
      {{ _("Your game&rsquo;s name, which is shown on all listings in Galaxy.") }}
    </div>
  </div>

  <div class="unit two-of-three">
    <div class="content form-field">
      <label>
        <span class="input-prepend">https://galaxy.firefox.com/game/</span>
        <input type="text" name="slug" placeholder="{{ _('Enter game listing slug here') }}" required>
        <span class="l">{{ _('Game slug') }}</span>
        <span class="req" data-required="{{ _('Required') }}"></span>
      </label>
    </div>
  </div>
  <div class="unit one-of-three">
    <div class="content form-help">
      {{ _('Select a unique URL for your game detail page. By default we generate this from your game title.') }}
    </div>
  </div>

  <div class="unit two-of-three">
    <div class="content form-field">
      <label>
        <input type="url" name="url" pattern="https?://.*" placeholder="{{ _('Enter game URL here') }}" required>
        <span class="l">{{ _('Game URL') }}</span>
        <span class="req" data-required="{{ _('Required') }}"></span>
      </label>
    </div>
  </div>
  <div class="unit one-of-three">
    <div class="content form-help">
      {{ _('The URL to your game hosted on your servers.') }}
    </div>
  </div>

  <div class="unit two-of-three">
    <div class="content form-field">
      <label>
        <textarea name="description" class="large" placeholder="{{ _('Enter game description here') }}" required></textarea>
        <span class="l">{{ _('Description') }}</span>
        <span class="req" data-required="{{ _('Required') }}"></span>
      </label>
    </div>
  </div>
  <div class="unit one-of-three">
    <div class="content form-help">
      {{ _("Your game&rsquo;s description should be concise and capture the essence of what it does. It will be shown on all listings, and on your Galaxy game detail page.") }}
    </div>
  </div>

  <div class="unit two-of-three">
    <div class="content form-field">
      <label>
        <input type="url" name="url" pattern="https?://.*" placeholder="{{ _('Enter privacy policy URL here') }}" class="optional">
        <span class="l">{{ _('Privacy Policy URL') }}</span>
        <span class="req opt" data-required="{{ _('Optional') }}"></span>
      </label>
    </div>
  </div>
  <div class="unit one-of-three">
    <div class="content form-help">
      {{ _('Provide a URL to your privacy policy explaining what data is transmitted from a user&rsquo;s computer and how it is used. You can generate one at <a href="{iubenda_url}" target="_blank">iubenda.com</a>.', iubenda_url='https://www.iubenda.com/') }}
    </div>
  </div>

  <div class="unit two-of-three">
    <div class="content form-field">
      <div class="l">{{ _('Genre') }}</div>
      {% for slug, name in settings.genres.items() %}
        <label class="choice"><input type="radio" name="genre" required value="{{ slug }}"> {{ name }}</label>
      {% endfor %}
      <span class="req" data-required="{{ _('Required') }}"></span>
    </div>
  </div>
  <div class="unit one-of-three">
    <div class="content form-help">
      {{ _("Genres are used to classify games in Galaxy. Choose the genre that best fits your game.") }}
    </div>
  </div>

  <div class="unit span-grid">
    <div class="content">
      <h2>{{ _('Media') }}</h2>
    </div>
  </div>
  <div class="unit one-of-three">
    <div class="icon media content form-field">
      <label>
        <div class="l">{{ _('Icon') }}
          <span class="req" data-required="{{ _('Required') }}"></span>
          <p class="form-help">
            {{ _("The icon will be shown on all listings in Galaxy. Allowed image formats: <code>PNG</code>, <code>JPG</code>") }}
          </p>
        </div>
        <div class="fallback">
          <input type="file" name="icon">
        </div>
      </label>
      <div class="file-size"></div><div class="file-preview"></div>
    </div>
  </div>
  <div class="unit one-of-three">
    <div class="screenshots media content form-field">
      <label>
        <div class="l">{{ _('Screenshots') }}
          <span class="req" data-required="{{ _('Required') }}"></span>
          <p class="form-help">
            {{ _("Screenshots will be shown on your game detail page. Allowed image formats: <code>PNG</code>, <code>JPG</code>") }}
          </p>
        </div>
        <div class="fallback">
          <input type="file" name="screenshots">
          <input type="text" placeholder="Image URL">
          <input type="text" placeholder="Image URL">
          <input type="text" placeholder="Image URL">
        </div>
      </label>
      <div class="file-size"></div><div class="file-preview"></div>
    </div>
  </div>
  <div class="unit one-of-three">
    <div class="videos media content form-field">
      <label>
        <div class="l">{{ _('Videos') }}
          <span class="req opt" data-required="{{ _('Optional') }}"></span>
          <p class="form-help">
            {{ _("Videos will be shown on your game detail page. Please use Youtube and/or Vimeo hosted videos only.") }}
          </p>
        </div>
        <div class="fallback">        
          <input type="text" placeholder="Youtube or Vimeo link">
          <input type="text" placeholder="Youtube or Vimeo link">
          <input type="text" placeholder="Youtube or Vimeo link">
        </div>
        
      </label>
      <div class="file-size"></div><div class="file-preview"></div>
    </div>
  </div>
  <div class="unit one-of-three">
    <div class="content form-help">
      {{ _("The icon will be shown on all listings in Galaxy. Allowed image formats: <code>PNG</code>, <code>JPG</code>") }}
    </div>
  </div>
  <div class="unit one-of-three">
    <div class="content form-help">
      {{ _("Screenshots will be shown on your game detail page. Allowed image formats: <code>PNG</code>, <code>JPG</code>") }}
    </div>
  </div>
  <div class="unit one-of-three">
    <div class="content form-help">
      {{ _("Videos will be shown on your game detail page. Please use Youtube and/or Vimeo hosted videos only.") }}
    </div>
  </div>

  <div class="unit span-grid">
    <div class="content">
      {# TODO: Still allow this page to be accessed anonymously, but save in localStorage and prompt user to log in/register. #}
      <button class="btn btn-green btn-big" type="submit">{{ _('Submit') }}</button>
    </div>
  </div>
</form> -->
{% include '_macros/game_form.html' %}
{{ gameForm() }}
