<tr class="curation-entry" data-slug="{{game.slug}}">
  <td class="curation-title">
    <i class="curation-draggable fa fa-arrows-v fa-lg"></i>
    <img class="game-icon" src="{{ game.icons[0].src }}" title="{{ game.name|translate }}"></img>
    <a href="#">{{ game.name|translate }}</a>
  </td>
  <td class="curation-status" title="{{ _(game.status) }}">
    <span class="status-span">{{ _('Status') }}:</span><br>
    <span class="game-status status-{{ game.status }}" data-slug="{{ game.slug }}">{{ game.status|statusName }}</span>
  </td>
  <td class="dashboard-buttons curation-buttons" data-slug="{{ game.slug }}">
    <a class="btn btn-reject curation-unfeature"><span class="btn-text">{{ _('Unfeature') }}</span></a>
    <div class="secondary-buttons">
      <a class="btn-secondary-view hint--right" href="{{ url('game', [game.slug]) }}" data-hint="{{ _('View') }}">
        <div class="btn-text fa fa-desktop"></div>
      </a>
      <a class="btn-secondary-edit hint--right" href="{{ url('edit_game', [game.slug]) }}" data-hint="{{ _('Edit') }}">
        <div class="btn-text fa fa-edit"></div>
      </a>
      <a class="btn-secondary-delete hint--right curation-delete" data-status-verb="delete" data-hint="{{ _('Delete') }}">
        <div class="btn-text fa fa-trash-o"></div>
      </a>
      {% if game.status == 'disabled' %}
      <a class="btn-secondary-enable hint--right curation-enable" data-status-verb="enable" data-hint="{{ _('Enable') }}">
        <div class="btn-text fa fa-check-circle-o"></div>
      </a>
      {% else %}
      <a class="btn-secondary-disable hint--right curation-disable" data-status-verb="disable" data-hint="{{ _('Disable') }}">
        <div class="btn-text fa fa-ban"></div>
      </a>
      {% endif %}
    </div>
    <!-- <a class="btn btn-view curation-view" href="{{ url('game', [game.slug]) }}"><span class="btn-text">{{ _('View') }}</span></a>
    <a class="btn btn-edit curation-edit" href="{{ url('edit_game', [game.slug]) }}"><span class="btn-text">{{ _('Edit') }}</span></a>
    <a class="btn btn-delete curation-delete"><span class="btn-text">{{ _('Delete') }}</span></a>
    {% if game.status == 'disabled' %}
      <a class="btn btn-enable curation-enable"><span class="btn-text">{{ _('Enable') }}</span></a>
    {% else %}
      <a class="btn btn-disable curation-disable"><span class="btn-text">{{ _('Disable') }}</span></a>
    {% endif %} -->
  </td>
</tr>
