<form class="grid" method="post" data-required="{{ _('Required') }}" data-formtype="submit">
  <div class="grid-cell">
    <div class="grid">
      <div class="grid-cell curation-page-title">
        <h1>{{ _('Featured Games') }}</h1>
      </div>
      <div class="grid-cell">
        <a class="btn btn-big btn-edit curation-feature">{{ _('Feature a New Game') }}</a>
      </div>
    </div>
    {% defer (url=api('game.featured'), id='featured-games') %}
      <table class="dashboard-table curation-table">
        <tbody>
        </tbody>
      </table>
      <div id="empty-message" class="hidden">
        {{ _('No games featured.') }}
      </div>
    {% placeholder %}
      {{ _('Loading games...') }}
    {% empty %}
      {{ _('No games featured.') }}
    {% except %}
      {% if error == 403 %}
        {{ _('You are not authorized to access this page.') }}
      {% else %}
        {{ _('Oh no! An error occurred.') }}
      {% endif %}
    {% end %}
  </div>
</form>
