<form class="grid" method="post" data-required="{{ _('Required') }}" data-formtype="submit">
  <div class="grid-cell">
    <h1>{{ _('Featured Games') }}</h1>
      <table class="curation-table">
        <tbody>
            <tr class="curation-entry" data-game-slug="nutty-ninjas" data-game-title="Nutty Ninjas">
              <td class="curation-title">
                <img src="http://png-4.findicons.com/files/icons/2297/super_mario/256/paper_mario.png" title="{{ game.name|translate }}" /><a href="#">Nutty Ninjas</a>
              </td>
              <td class="curation-status" title="Public">
                <span class="status-span">Status:</span><br>
                Public
              </td>
              <td class="dashboard-buttons curation-buttons">
                <a class="btn btn-reject curation-unfeature">{{ _('Unfeature') }}</a>
                <a class="btn btn-view curation-view">{{ _('View') }}</a>
                <a class="btn btn-edit curation-edit">{{ _('Edit') }}</a>
                <a class="btn btn-delete curation-delete">{{ _('Delete') }}</a>
                <a class="btn btn-disabled curation-disable">{{ _('Disable') }}</a>
              </td>
            </tr>
            <tr class="curation-entry" data-game-slug="nutty-ninjas" data-game-title="Nutty Ninjas">
              <td class="curation-title">
                <img src="http://png-4.findicons.com/files/icons/2297/super_mario/256/paper_mario.png" title="{{ game.name|translate }}" /><a href="#">Nutty Ninjas</a>
              </td>
              <td class="curation-status" title="Public">
                <span class="status-span">Status:</span><br>
                Public
              </td>
              <td class="dashboard-buttons curation-buttons">
                <a class="btn btn-reject curation-unfeature">{{ _('Unfeature') }}</a>
                <a class="btn btn-view curation-view">{{ _('View') }}</a>
                <a class="btn btn-edit curation-edit">{{ _('Edit') }}</a>
                <a class="btn btn-delete curation-delete">{{ _('Delete') }}</a>
                <a class="btn btn-disabled curation-disable">{{ _('Disable') }}</a>
              </td>
            </tr>
        </tbody>
      </table>
      <div id="empty-message" class="hidden">
        {{ _('No games featured.') }}
      </div>
  </div>
</form>