{% macro emptyReview() %}
  {{ _('No games pending review.') }}
{% endmacro %}

<form class="grid" method="post" data-required="{{ _('Required') }}" data-formtype="submit">
  <div class="unit span-grid">
    <h1>{{ _('Review Queue') }}</h1>
    {% defer (url=api('game.list')|urlparams(status='pending')) %}
      <table class="review-table">
        <thead>
          <tr>
            <th>{{ _('Game') }}</th>
            <th>{{ _('Waiting Time') }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for game in this|sort(attribute='created') %}
            <tr class="review-entry" data-game-slug="{{ game.slug }}" data-game-title="{{ game.name }}">
              <td class="review-title"><a href="{{ game.app_url }}">{{ game.name }}</a></td>
              <td class="review-wait">{{ game.created|relativeDate }}</td>
              <td class="review-buttons">
                <a href="#" class="btn btn-red review-reject">{{ _('Reject') }}</a>
                <a href="#" class="btn btn-green review-accept">{{ _('Accept') }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="empty-message" style="display: none;">
        {{ emptyReview() }}
      </div>
    {% placeholder %}
      {{ _('Loading games...') }}
    {% empty %}
      {{ emptyReview() }}
    {% except %}
      {% if error == 401 %}
        {{ _('You are not authorized to access this page.') }}
      {% else %}
        {{ _('Oh no! An error occurred.') }}
      {% endif %}
    {% end %}
  </div>
</form>