{% macro emptyReview() %}
  {{ _('No games pending review.') }}
{% endmacro %}

<form class="grid" method="post" data-required="{{ _('Required') }}" data-formtype="submit">
  <div class="grid-cell">
    <h1>{{ _('Review Queue') }}</h1>
    {% defer (url=api('game.list')|urlparams(status='pending')) %}
      <table class="dashboard-table review-table">
        <thead>
          <tr>
            <th>{{ _('Game') }}</th>
            <th>{{ _('Waiting Time') }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for game in this|sort(attribute='created') %}
            <tr class="review-entry" data-game-slug="{{ game.slug }}" data-game-title="{{ game.name }}">
              <td class="review-title"><a href="{{ game.app_url }}">{{ game.name }}</a></td>
              <td class="review-wait" title="{{ game.created }}">{{ game.created|relativeDate }}</td>
              <td class="dashboard-buttons review-buttons">
                <a class="btn btn-reject review-reject"><div class="btn-text">{{ _('Reject') }}</div></a>
                <a class="btn btn-approve review-accept"><div class="btn-text">{{ _('Accept') }}</div></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="empty-message" class="hidden">
        {{ emptyReview() }}
      </div>
    {% placeholder %}
      {{ _('Loading games...') }}
    {% empty %}
      {{ emptyReview() }}
    {% except %}
      {% if error == 403 %}
        {{ _('You are not authorized to access this page.') }}
      {% else %}
        {{ _('Oh no! An error occurred.') }}
      {% endif %}
    {% end %}
  </div>
</form>
