{% macro emptyList() %}
  {{ _('No games matching this status') }}
{% endmacro %}

<form class="grid" method="post" data-required="{{ _('Required') }}" data-formtype="submit" novalidate>
  <div class="grid-cell">
    <div class="status-title">
      <h1>{{ _('Games by Status') }}</h1>
      <select id="select-status" name="{{ _('Status') }}">
        <option value="pending">{{ _('Pending') }}</option>
        <option value="approved">{{ _('Approved') }}</option>
        <option value="rejected">{{ _('Rejected') }}</option>
        <option value="disabled">{{ _('Disabled') }}</option>
        <option value="deleted">{{ _('Deleted') }}</option>
      </select>
    </div>
    {% defer (url=api('game.list')|urlparams(status=status), nocache=true) %}
      <table class="dashboard-table review-table">
        {% for game in this|sort(attribute='created') %}
          <tr class="review-entry" data-game-slug="{{ game.slug }}" data-game-title="{{ game.name }}">
            <td class="game-title-container">
              <a href="{{ game.app_url }}">
                <div class="game-icon" style="background-image: url({{ game.icons[0].src }})"></div>
                <div class="game-title">{{ game.name }}</div>
              </a>
            </td>
            <td class="game-date-container" title="{{ game.created }}">
              <h3 class="game-date-title">{{ _('Date submitted:') }}</h3>
              <div class="game-date">
                <span class="date-abs">{{ game.created|date('med', false) }}</span>
                <span class="date-rel">({{ game.created|relativeDate }})</span>
              </div>
            </td>
            <td class="review-buttons dashboard-buttons">
              <a class="btn btn-approve" data-status-verb="approve">
                <div class="btn-text">{{ _('Approve') }}</div>
              </a>
              <a class="btn btn-reject" data-status-verb="reject">
                <div class="btn-text">{{ _('Reject') }}</div>
              </a>
              <div class="secondary-buttons">
                <a class="btn-secondary-view hint--right" data-hint="{{ _('View') }}">
                  <div class="btn-text fa fa-desktop"></div>
                </a>
                <a class="btn-secondary-edit hint--right" data-hint="{{ _('Edit') }}">
                  <div class="btn-text fa fa-edit"></div>
                </a>
                <a class="btn-secondary-delete hint--right" data-status-verb="delete" data-hint="{{ _('Delete') }}">
                  <div class="btn-text fa fa-trash-o"></div>
                </a>
                <a class="btn-secondary-disable hint--right" data-status-verb="disable" data-hint="{{ _('Disable') }}">
                  <div class="btn-text fa fa-ban"></div>
                </a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </table>
      <div id="empty-message" class="hidden">
        {{ emptyList() }}
      </div>
    {% placeholder %}
      {{ _('Loading games...') }}
    {% empty %}
      {{ emptyList() }}
    {% except %}
      {% if error == 403 %}
        {{ _('You are not authorized to access this page') }}
      {% else %}
        {{ _('Oh no! An error occurred') }}
      {% endif %}
    {% end %}
  </div>
</form>
