{% macro emptyGames() %}
  {{ _('You have not submitted any games yet.') }}
{% endmacro %}

<h1>{{ _('My Games') }}</h1>
<!--TODO: Retrieve only one developer's games-->
{% defer (url=api('game.list')) %}
  <table class="my-games-table">
    <thead>
      <tr>
        <th>{{ _('Game') }}</th>
        <th>{{ _('Status') }}</th>
        <th>{{ _('Queue Position') }}</th>
        <th>{{ _('Waiting Time') }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for game in this|sort(attribute='created') %}
        <tr data-game-slug="{{ game.slug }}" data-game-title="{{ game.name }}">
          <td><a href="{{ game.app_url }}">{{ game.name }}</a></td>
          <td colspan="2"><!--TODO: Retrieve status and queue position--></td>
          <td>{{ game.created|relativeDate }}</td>
          <td class="my-games-buttons">
            <a class="btn btn-blue" href="{{ url('game', [game.slug]) }}" target="_blank">{{ _('View') }}</a>
            <a class="btn btn-green" href="{{ url('edit_game', [game.slug]) }}">{{ _('Edit') }}</a>
            <a class="btn btn-red my-games-delete">{{ _('Delete') }}</a>
            <a class="btn my-games-disable">{{ _('Disable') }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div id="empty-message" class="hidden">
    {{ emptyGames() }}
  </div>
{% placeholder %}
  {{ _('Loading games...') }}
{% empty %}
  {{ emptyGames() }}
{% except %}
  {% if error == 403 %}
    {{ _('You are not authorized to access this page.') }}
  {% else %}
    {{ _('Oh no! An error occurred.') }}
  {% endif %}
{% end %}
