{% include '_macros/friends.html' %}

<div class="profile unit span-grid">
  <div class="content">
    {% defer (url=apiParams('user.search', {devSlug: devSlug}), id='dev-search') %}
      <h1>{{ devAvatar(this) }}</h1>
      <section>
        <h2>{{ _('Homepage') }}</h2>
        <p class="dev-info">
          <a href="{{ this.homepage }}" target="_blank">{{ this.homepage }}</a>
        </p>
      </section>
      <section>
        <h2>{{ _('Support Page') }}</h2>
        <p class="dev-info">
          <a href="{{ this.support }}" target="_blank">{{ this.support }}</a>
        </p>
      </section>
      <section>
        <h2>{{ _('Games made by {company}', company=this.companyName) }}</h2>
        <p class="no-results">{{ _('No games yet') }}</p>
      </section>
    {% end %}
  </div>
</div>
