{% include '_macros/friends.html' %}

{% if not user.logged_in() %}
  <h1>{{ _('Friends') }}</h1>
  <p>{{ _('You must sign in/sign up to see your friends.') }}</p>
  <p><a class="btn btn-blue btn-round btn-big btn-inline persona only-logged-out" href="#">{{ _('Sign in') }}</a></p>
{% else %}
  <h1>{{ _('Friends') }}</h1>

  {% defer (url=api('user.friends.requests')) %}
    <section>
      <h2>{{ _('Friend requests') }}</h2>
      <ul class="friends-list friend-requests c">
        {% for user in this %}
          <li class="c" data-user-id="{{ user.id }}">
            <a href="{{ url('user', [user.id]) }}" class="profile-link">{{ avatar(user) }}</a>
            {# TODO: Mark as grayed out if friend is already requested. #}
            <a href="#" class="btn btn-red ignore-friend">{{ _('Ignore') }}</a>
            <a href="#" class="btn btn-green accept-friend">{{ _('Accept') }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% empty %}
  {% end %}

  {% defer (url=api('user.friends')) %}
    <section>
      <h2>{{ _('Your friends') }}</h2>
      <ul class="friends-list two text-columns">
        {% for user in this %}
          <li class="c" data-user-id="{{ user.id }}">
            <a href="{{ url('user', [user.id]) }}" class="profile-link">{{ avatar(user) }}</a>
            <a href="#" class="btn btn-red unfriend-friend">{{ _('Remove') }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% empty %}
  {% end %}

  <section>
    <h2>{{ _('Add a friend') }}</h2>
    <form class="user-search" novalidate>
      <p><input type="search" name="q" placeholder="{{ _('Search by email') }}"
             autocapitalize="off" autocomplete="off" autocorrect="off"
             class="large" novalidate title="" x-inputmode="verbatim"></p>
    </form>
    <ul class="user-results"></ul>
  </section>
{% endif %}
