{% macro featuredGames(featured_games) %}
  <div class="featured-games-section">
    {% defer (url=api('game.featured')) %}
    <ul>
      {% for game in this %}
        <li data-game-slug="{{ game.slug }}">
          <!-- <a href="{{ url('game', [game.slug]) }}"> -->
            <div class="media">
              <img class="media-figure game-icon" src="{{ game.icons[0].src }}">
              <div class="media-body">
                <h3 class="game-name">{{ game.name|translate(game) }}</h3>
                <p class="game-developer">{{ _('by {author}', author=game.developer.name) }}</p>
              </div>
            </div>
          <!-- </a> -->
          <div class="select-bar"></div>
        </li>
      {% endfor %}
    </ul>
    <div class="arrow"></div>
    {% end %}
  </div>
{% endmacro %}
