{% macro gameForm(game) %}
  <form class="game-form" method="post" data-required="{{ _('Required') }}" data-formtype="{{'edit' if game else 'submit'}}">
    <div class="grid content">
      <div class="grid-cell grid-flex-grow-two">
        <div class="form-field">
          <label>
            <input type="text" class="large" name="name" placeholder="{{ _('Enter game title here') }}" value="{{ game.name|translate(game) }}" pattern="[^\s].+|\s+\S.*" required>
            <span class="l">{{ _('Name') }}</span>
            <span class="req" data-required="{{ _('Required') }}"></span>
          </label>
        </div>
      </div>
      <div class="grid-cell">
        <div class="form-help">
          {{ _('Your game&rsquo;s name, which is shown on all listings in Galaxy.') }}
        </div>
      </div>
    </div>

    <div class="grid content">
      <div class="grid-cell grid-flex-grow-two">
        <div class="form-field">
          <label>
            <span class="input-prepend">https://galaxy.firefox.com/game/</span>
            <input type="text" name="slug" placeholder="{{ _('Enter game listing slug here') }}" value="{{ game.slug }}" required>
            <span class="l">{{ _('Game slug') }}</span>
            <span class="req" data-required="{{ _('Required') }}"></span>
          </label>
        </div>
      </div>
      <div class="grid-cell">
        <div class="form-help">
          {{ _('Select a unique URL for your game detail page. By default we generate this from your game title.') }}
        </div>
      </div>
    </div>

    <div class="grid content">
      <div class="grid-cell grid-flex-grow-two">
        <div class="form-field">
          <label>
            <input type="url" name="app_url" pattern="https?://.*" placeholder="{{ _('Enter game URL here') }}" value="{{ game.app_url }}" required>
            <span class="l">{{ _('Game URL') }}</span>
            <span class="req" data-required="{{ _('Required') }}"></span>
          </label>
        </div>
      </div>
      <div class="grid-cell">
        <div class="form-help">
          {{ _('The URL to your game hosted on your servers.') }}
        </div>
      </div>
    </div>

    <div class="grid content">
      <div class="grid-cell grid-flex-grow-two">
        <div class="form-field">
          <label>
            <span class="l">{{ _('Description') }}</span>
            <textarea name="description" placeholder="{{ _('Enter game description here') }}" required>{{ game.description }}</textarea>
            <div class="toggle-preview-container">
              <i class="fa fa-eye toggle-preview"></i>
            </div>
            <div class="description-preview"></div>    
            <span class="req" data-required="{{ _('Required') }}"></span>
          </label>
        </div>
      </div>
      <div class="grid-cell">
        <div class="form-help">
          {{ _('Your game&rsquo;s description should be concise and capture the essence of what it does. It will be shown on all listings, and on your Galaxy game detail page.<br><br>Markdown format is supported. Click the eye icon at the bottom-right corner of the textarea to toggle between the modes.') }}
        </div>
      </div>
    </div>

    <div class="grid content">
      <div class="grid-cell grid-flex-grow-two">
        <div class="form-field">
          <label>
            <input type="url" name="privacy_policy_url" pattern="https?://.*" placeholder="{{ _('Enter privacy policy URL here') }}" value="{{ game.privacy_policy_url }}" class="optional">
            <span class="l">{{ _('Privacy Policy URL') }}</span>
            <span class="req opt" data-required="{{ _('Optional') }}"></span>
          </label>
        </div>
      </div>
      <div class="grid-cell">
        <div class="form-help">
          {{ _('Provide a URL to your privacy policy explaining what data is transmitted from a user&rsquo;s computer and how it is used. You can generate one at <a href="{iubenda_url}" target="_blank">iubenda.com</a>.', iubenda_url='https://www.iubenda.com/') }}
        </div>
      </div>
    </div>

    <div class="grid content">
      <div class="grid-cell grid-flex-grow-two">
        <div class="l">{{ _('Number of Players') }}</div>
        <span class="req" data-required="{{ _('Required') }}"></span>
        <div class="form-field">
          {% for value, name in settings.number_of_players.items() %}
              <label class="choice"><input type="radio" name="number_of_players"{{ ' checked' if value == game.number_of_players }} required value="{{ value }}"> {{ name }}</label>
          {% endfor %}
        </div>
      </div>
      <div class="grid-cell">
        <div class="form-help">
          {{ _('Provide the number of players who can play the game.') }}
        </div>
      </div>
    </div>

    <div class="grid content">
      <div class="grid-cell grid-flex-grow-two">
        <div class="l">{{ _('Genre') }}</div>
        <span class="req" data-required="{{ _('Required') }}"></span>
        <div class="form-field">
          {% for slug, name in settings.genres.items() %}
            <label class="choice">
              <input type="radio" name="genre"{{ ' checked' if slug == game.genre }} required value="{{ slug }}"> {{ name }}
            </label>
          {% endfor %}
        </div>
      </div>
      <div class="grid-cell">
        <div class="form-help">
          {{ _('Genres are used to classify games in Galaxy.Choose the genre that best fits your game.') }}
        </div>
      </div>
    </div>

    <div class="content">
      <div class="grid">
        <div class="grid-cell grid-flex-grow-two">
          <div class="l">{{ _('Icon') }}</div>
          <span class="req" data-required="{{ _('Required') }}"></span>
        </div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid">
        <div class="grid-cell grid-flex-grow-two">
          <div class="grid icons media form-field grid-bottom">
            <div class="grid-cell media-left">
              <span class="media-size">{{ _('128px &times; 128px') }}</span>
              <div class="media-list">
                <div class="media-item {{ 'processed' if game.icons[0] }}">
                  <div class="media-preview-container" data-type="icons" data-message="{{ _('Drag and drop or select') }}">
                    <img class="media-preview" data-type="icons" src="{{ game.icons[0].src }}">
                    <input type="file" name="icon_file" class="media-input" data-type="icons">
                    <div class="media-delete"></div>
                  </div>
                  <input type="url" class="media-input" data-type="icons" value="{{ game.icons[0].src }}" placeholder="{{ _('Or enter URL to 128px icon here') }}" pattern="https?://.*">
                  <input type="hidden" name="icon_final_url" class="media-input-processed-url" data-type="icons" data-height="128" data-width="128">
                </div>
              </div>
            </div>
            <div class="grid-cell media-right"></div> <!-- Placeholder -->
            <div class="grid-cell media-right" style="display:none"> <!-- Not in use for now -->
              <div class="media-list">
                <div class="media-item">
                  <span class="media-size">{{ _('64px &times; 64px') }}</span>
                  <div class="media-preview-container icons-64" data-message="{{ _('Drag and drop or select') }}">
                    <img class="media-preview" data-type="icons">
                    <input type="file" name="icon_file" class="media-input" data-type="icons">
                    <div class="media-delete"></div>
                  </div>
                  <input type="url" class="media-input" data-type="icons" value="{{ game.icons }}" placeholder="{{ _('Or enter URL to 64px icon here') }}" pattern="https?://.*">
                  <input type="hidden" name="icon_final_url" class="media-input-processed-url" data-type="icons" data-height="64" data-width="64">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-cell">
          <p class="form-help">
            {{ _("The icon will be shown on all listings in Galaxy.<br>Allowed image formats: PNG, JPG<br>Maximum dimensions: 128px &times; 128px") }}
          </p>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="grid">
        <div class="grid-cell grid-flex-grow-two">
          <div class="l">{{ _('Screenshots') }}</div>
          <span class="req" data-required="{{ _('Required') }}"></span>
        </div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid">
        <div class="grid-cell grid-flex-grow-two">
          <div class="grid screenshots media form-field grid-bottom">
            <div class="grid-cell media-left">
              <span class="media-size">4:3 <span class="inner">(1024px &times; 768px)</span></span>
              <div class="media-list">
                {% set count = game.screenshots[0].4_3|length + 1 if game.screenshots else 1 %}
                {% for i in range(count) %}
                  {% include '_macros/media-item.html' %}
                  {{ mediaItem(game.screenshots[0].4_3[i], i == count - 1, 'screenshots-4-3') }}
                {% endfor %}
                <button type="button" class="btn add-button"><i class="fa fa-plus"></i> Add</button>
              </div>              
            </div>
            <div class="grid-cell media-right">
              <span class="media-size">16:9 <span class="inner">(1280px &times; 720px)</span></span>
              <div class="media-list">
                {% set count = game.screenshots[0].16_9|length + 1 if game.screenshots else 1 %}
                {% for i in range(count) %}
                  {% include '_macros/media-item.html' %}
                  {{ mediaItem(game.screenshots[0].16_9[i], i == count - 1, 'screenshots-16-9') }}
                {% endfor %}
                <button type="button" class="btn add-button"><i class="fa fa-plus"></i> Add</button>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-cell">
          <p class="form-help">
            {{ _("Screenshots will be shown on your game detail page.<br/>Allowed image formats: PNG, JPG") }}
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="content">
      <div class="grid">
        <div class="grid-cell grid-flex-grow-two">
          <div class="screenshots media form-field">
            <label>
              <div class="fallback" data-placeholder="{{ _('Image URL') }}" data-type="screenshots">
                {% for screenshot in game.screenshots %}
                  <input type="url" class="media-input" data-type="screenshots" value="{{ screenshot }}" placeholder="{{ _('Image URL') }}" pattern="https?://.*">
                {% endfor %}
              </div>
            </label>
            <input type="file" name="screenshot_file" class="media" data-type="screenshots" multiple>
            <div id="sc-list"></div>
          </div>
        </div>
        <div class="grid-cell">
          <p class="form-help">
            {{ _("Screenshots will be shown on your game detail page.<br/>Allowed image formats: PNG, JPG.") }}
          </p>
        </div>
      </div>
    </div> -->

    <div class="content">
      <div class="grid">
        <div class="grid-cell grid-flex-grow-two">
          <div class="l">{{ _('Videos') }}</div>
          <span class="req opt" data-required="{{ _('Optional') }}"></span>
        </div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid">
        <div class="grid-cell grid-flex-grow-two">
          <div class="grid videos media form-field">
            <div class="grid-cell media-left">
              <div class="media-list">
                <div class="media-item {{ 'processed' if game.videos[0] }}">
                  <div class="media-preview-container" data-message="{{ _('Preview') }}">
                    <div class="media-iframe"></div>
                    <div class="media-delete"></div>
                  </div>
                  {% if game.videos[0].id %}
                    <input name="media-video-object" type="hidden" value="{{ game.videos[0].id }}" data-video-type="{{ game.videos[0].type }}" data-video-thumbnail="{{ game.videos[0].thumbnail }}">
                  {% else %}
                    <input name="media-video-object" type="hidden">
                  {% endif %}
                  <input class="media-input" type="url" data-type="videos" value="{{ game.videos[0].id }}" placeholder="{{ _('Enter YouTube/Vimeo URL here') }}" pattern="https?://.*">
                </div>
              </div>
            </div>
            <div class="grid-cell media-right">
              <div class="media-list">
                <div class="media-item {{ 'processed' if game.videos[1] }}">
                  <div class="media-preview-container" data-message="{{ _('Preview') }}">
                    <div class="media-iframe"></div>
                    <div class="media-delete"></div>
                  </div>
                  {% if game.videos[1].id %}
                    <input name="media-video-object" type="hidden" value="{{ game.videos[1].id }}" data-video-type="{{ game.videos[1].type }}" data-video-thumbnail="{{ game.videos[1].thumbnail }}">
                  {% else %}
                    <input name="media-video-object" type="hidden">
                  {% endif %}
                  <input class="media-input" type="url" data-type="videos" value="{{ game.videos[1].id }}" placeholder="{{ _('Enter YouTube/Vimeo URL here') }}" pattern="https?://.*">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-cell">
          <p class="form-help">
            {{ _("Videos will be shown on your game detail page.<br/>Please use YouTube and/or Vimeo-hosted videos only.<br/>Maximum of two video submissions.") }}
          </p>
        </div>
      </div>
    </div>

    <div class="grid content">
      <div class="grid-cell">
        {# TODO: Still allow this page to be accessed anonymously, but save in localStorage and prompt user to log in/register. #}
        <button class="btn btn-cta btn-submit" type="submit">
          {{ _('Save Changes') if game else _('Submit') }}
        </button>
      </div>
    </div>

  </form>
{% endmacro %}
  
