{% macro mediaItem(item, new, type) %}
  <div class="media-item {{ 'media-item-template' if new else 'processed' }}">
    <div class="media-preview-container {{ type }}" data-type="{{ type }}" data-message="{{ _('Drag and drop or select') }}">
      <img class="media-preview" data-type="{{ type }}" src="{{ item.src }}">
      <input type="file" name="screenshot_file" class="media-input" data-type="type">
      <div class="media-delete"></div>
    </div>
    <input type="url" class="media-input" data-type="{{ type }}" value="{{ game.screenshots[i].src }}" placeholder="{{ _('Or enter URL to screenshot here') }}" value="{{ item.src }}" pattern="https?://.*">
    <input type="hidden" name="screenshot_final_url" class="media-input-processed-url" data-type="{{ type }}" data-height="{{ item.height }}" data-width="{{ item.width }}" value="{{ item.src }}">
  </div>
{% endmacro %}
