{% set endpoint = api('leaderboard', [slug]) %}

{% defer (url=endpoint, key=slug, id='boards-data') %}
	<h1>{{ _('Leaderboard') }} </h1>
	
	<section>
		<ul>
			{% for board in this %}
			<li class="c" data-board-slug="{{ board.slug }}" data-game-slug="{{ slug }}">
				<a href="#" class="board-link">{{ board.name }}</a>
				<a href="#" class="board-del" >{{ _('Remove')}}</a>
			</li>
			{% endfor %}
		</ul>
	</section>
	<section>
		<h2>{{ _('Add a leaderboard') }}</h2>
		
	</section>


{% end %}