{% set endpoint = api('game', [slug]) %}
{% set leaderboard = api('leaderboard', [slug]) %}

{% defer (url=endpoint, as='game', key=slug, id='game-data') %}
  {% set game = this %}
  
  <div class="grid game-details-page">
    {% include '_macros/featured-games.html' %}
    {{ featuredGames() }}
    <div class="grid-cell grid-flex-grow-two game-details-container right-container">
      <div class="grid">
        <div class="grid-cell grid-flex-grow-two game-details-container-left">
          <div class="game-current-media">
            <iframe width="480" height="300" src="//www.youtube.com/embed/mX48y24t9iU" frameborder="0"></iframe>
          </div>
          <div class="game-details-section">
            <div class="game-buttons-section">
              {% if game.purchased %}
                {% set buttonClass = 'btn-play' %}
              {% else %}
                {% set buttonClass = 'btn-play btn-install' %}
              {% endif %}
              <button data-app-url="{{ game.app_url }}" data-game-slug="{{ game.slug }}" class="btn btn-big {{ buttonClass }}">{{ _('Play') }}</button>
              <div>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ page_url }}" target="_blank">
                  <i class="icon-facebook icon-medium"></i> 
                </a>
                <a href="https://twitter.com/intent/tweet?source=webclient&text=Check+this+game+out:+{{ game.name }}+{{ page_url }}" target="_blank">
                  <i class="icon-twitter icon-medium"></i> 
                </a>
                <!-- <a href="https://twitter.com/intent/tweet" class="twitter-share-button" data-size="large" data-text="Check this game out: {{ game.name }}!">Tweet</a> -->
              </div>
            </div>
            <h1 class="game-title">Bastion</h1>
            <p class="game-developer">by Supergiant Games</p>
          </div>
          <div class="game-details-section">
            <p class="game-description">Bastion is an original action role-pplaying game featuring a reactive narrator who marks your every move, lush hand-painted 2D artwork, and tight responsive gameplay that rewards playing with finesse. The game is designed to be simple to pick up and start playing, while offering a lot of rich choices around character customization as well as a deep story and game world you can lose yourself in.</p>
          </div>
          <div class="game-details-section">
            <div class="grid">
              <div class="grid-cell game-detail-attribute">
                <h2>Genre:</h2>
                Action
              </div>
              <div class="grid-cell game-detail-attribute">
                <h2>Release date:</h2>
                Jan 15, 2014
              </div>
              <div class="grid-cell game-detail-attribute">
                <h2>Browser support:</h2>
                <ul class="game-browser-support">
                  <li><i class="icon-firefox"></i> Firefox 6+</li>
                  <li><i class="icon-chrome"></i> Chrome 6+</li>
                </ul>
              </div>
              <div class="grid-cell game-detail-attribute">
                <h2>Players:</h2>
                1 &nbsp; <i class="icon-controller"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-cell game-details-container-right">
          <div class="game-details-media">
            <div class="game-media-list">
              <img class="game-media selected" alt="" title="" src="//img.youtube.com/vi/mX48y24t9iU/maxresdefault.jpg">
              <img class="game-media" alt="" title="" src="/media/img/new-game-details/screenshots/2.png">
              <img class="game-media" alt="" title="" src="/media/img/new-game-details/screenshots/3.png">
              <img class="game-media" alt="" title="" src="/media/img/new-game-details/screenshots/4.png">
              <!-- {% if game.screenshots %}
                {% for screenshot in game.screenshots %}
                  <img class="game-media"
                    {% if screenshot.width %} width="{{ screenshot.width }}"{% endif %}
                    {% if screenshot.height %} height="{{ screenshot.height }}"{% endif %}
                    src="{{ screenshot }}">
                {% endfor %}
              {% endif %} -->
            </div>
            <div class="arrow"></div>            
          </div>
        </div>
      </div>
    </div>
  </div>

{% placeholder %}
  <masthead class="game-masthead">
    <div>
      <h1>{{ _('Loading&hellip;') }}</h1>
    </div>
  </div>
{% except %}
  <div class="detailed-error">
    <h2>{{ _('Oh no!') }}</h2>
    {% if error == 403 %}
      <p>{{ _('The game requested is not public.') }}</p>
    {% elif error == 404 %}
      <p>{{ _('The game requested was not found.') }}</p>
    {% elif error == 451 %}
      <p>{{ _('The game requested is not available for your region.') }}</p>
      <p>{{ _('You may wish to contact the developer if you would like to see a version of this game for your region.') }}</p>
    {% else %}
      <p>{{ _('A server error occurred. Please try again later.') }}</p>
    {% endif %}
  </div>
{% end %}
