// For styles relating to dashboard screens (curation dashboard, review dashboard etc.)

@import 'lib';

.dashboard-table {
    width: 100%;
    
    thead tr th {
        text-align: left;
        padding-bottom: 10px;
    }

    tbody td, & > td {
        padding: 5px 0;

        + td {
            padding-left: 10px;
        }
    }

    .dashboard-buttons {
        text-align: right;
        .btn {
            margin-left: 10px;
        }
    }
}

.curation-page-title {
    flex: none;
    width: 80%;
}

.curation-table {
    .curation-status {

        .status-span {
            color: $colorGrayLight;
            font-size: 14px;
        }

        .status-approved {
            color: $colorLightGreen;
        }

        .status-pending, 
        .status-rejected,
        .status-disabled,
        .status-deleted {
            color: $colorGray;
        }

    }

    .curation-title {
        a {
            color: $colorTealLink;
            font-size: 26px;
            line-height: 1;
            vertical-align: middle;
        }
        img {
            vertical-align: middle;
            max-width: 64px;
            max-height: 64px;
        }
    }
}

.feature-game {
    left: auto;
    min-height: 100px;
    right: 8%;
    top: 160px;
    width: 500px;

    &:before {
        border: transparent solid 10px;
        border-bottom-color: $modalBackgroundColor;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        right: 20%;
        top: -20px;
        width: 0;
        z-index: 60;
    }

    h3 {
        margin-bottom: 10px;
    }
}

.game-results {
    background: #888;
    list-style: none;

    li {
        color: #bbb;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        position: relative;

        &:hover {
            background: #aaa;
            color: #ddd;
        }
        
        .feature-btn {
            display: inline-block;
            vertical-align: middle;
            visibility: hidden;

            &.show {
                visibility: visible;
            }
        }

        .game-result-name {
            display: inline-block;
            vertical-align: middle;
            width: 370px;
        }

        .highlight {
            color: #eee;
            font-weight: bold;
        }
    }
}

$iconSize = 56px;
[data-page-type~="review"] .page {
    .status-title {
        margin-bottom: 25px;
        position: relative;
        h1 {
            color: $colorGrayDark;
            display: inline-block;
            margin-bottom: 0;
        }
        #select-status {
            top: 30%;
            position: absolute;
            margin-left: 25px;
        }
    }

    .grid-cell {
        margin: 0 5%;
    }

    .review-title {
        padding: 12px 0;
        .game-icon {
            background: no-repeat;
            background-size: contain;
            float: left;
            margin-right: 20px;
            height: $iconSize;
            width: $iconSize;
        }
        .game-title {
            display: inline-block;
            height: $iconSize;
            a {
                color: $buttonColorTeal;
                font-size: $bigFontSize;
                line-height: $iconSize;
            }
        }
    }

    .submitted-title {
        color: $colorGrayUltraLight;
        font-size: $smallFontSize;
    }
    .submitted-date {
        .date-abs {
            font-weight: 600;
        }
        .date-rel {
            color: $colorGrayUltraLight;
            margin-left: 3px;
        }
    }

    .review-buttons {
        text-align: right;
        a {
            margin-left: 8px;
            margin-right: 8px;
        }
        .secondary-buttons {
            display: inline-block;
            margin-left: 10px;
            font-size: 1.25em;
            vertical-align: middle;
        }

        .review-view {
            darken-text-on-hover($buttonColorBlue, $buttonHoverStateDarken);
        }
        .review-edit {
            darken-text-on-hover($buttonColorTeal, $buttonHoverStateDarken);
        }
        .review-delete {
            darken-text-on-hover($buttonColorRed, $buttonHoverStateDarken);
        }
        .review-disable {
            darken-text-on-hover($buttonColorGray, $buttonHoverStateDarken);
        }
    }
}
