// For styles relating to dashboard screens (curation dashboard, review dashboard etc.)

@import 'lib';

.dashboard-table {
    width: 100%;
    
    thead tr th {
        text-align: left;
        padding-bottom: 10px;
    }

    tbody td {
        padding: 5px 0;

        + td {
            padding-left: 10px;
        }
    }

    .dashboard-buttons {
        text-align: right;
        .btn {
            margin-left: 10px;
        }
    }
}

.curation-page-title {
    flex: none;
    width: 80%;
}

.curation-table {
    .curation-status {

        .status-span {
            color: $colorGrayLight;
            font-size: 14px;
        }

        .status-approved {
            color: $colorLightGreen;
        }

        .status-pending, 
        .status-rejected,
        .status-disabled,
        .status-deleted {
            color: $colorGray;
        }

    }

    .curation-title {
        a {
            color: $colorTealLink;
            font-size: 26px;
            line-height: 1;
            vertical-align: middle;
        }
        img {
            vertical-align: middle;
            max-width: 64px;
            max-height: 64px;
        }
    }
}

a.show {
    z-index: 60;
}

.feature-game {
    left: auto;
    min-height: 100px;
    right: 8%;
    top: 160px;
    width: 500px;

    &:before {
        border: transparent solid 10px;
        border-bottom-color: $modalBackgroundColor;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        right: 20%;
        top: -20px;
        width: 0;
        z-index: 60;
    }
}

ul.game-results {
    background: #888;
    list-style: none;

    li {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        position: relative;

        p {
            display: inline-block;
            vertical-align: middle;
            width: 370px;
        }

        a {
            display: inline-block;
            vertical-align: middle;
            visibility: hidden;
        }
    }

    li:hover {
        background: #aaa;
    }
}