@import 'lib';

.my-games-table {
    border-collapse: separate; 
    width: 100%;
    
    .my-games-buttons {
        text-align: right;
        .btn {
            margin-left: 10px;
        }
    }

    tbody td {
        padding: 5px 0;
        &:not(:last-child) {
            padding-right: 10px;
        }
    }

    thead tr th {
        text-align: left;
        padding-bottom: 10px;
    }
}
