@import 'lib';

.modal.show {
    nav.secondary-header, .support-list {
        display: none;
    }
    div.secondary-header {
        display: block;
    }
}

.feedback .support-list {
    list-style: none;
    padding: 5px 10px 10px;
    li {
        margin-top: 10px;
        .button {
            display: block;
        }
    }
}

@media $narrower-than-desktop {
    .feedback-form.form-modal {
        left: 50%;
        right: auto;
    }
}

@media $at-least-desktop {
    .feedback {
        &.modal {
            bottom: 40px;
            left: auto;
            margin-left: 200px;
            right: 8%; // TODO: Align with right side of page.
            top: auto;
            width: 400px;
        }
        .support-list {
            display: none;
        }
        textarea {
            border: 1px solid #8c8c8c;
            border-radius: 2px;
            height: 50px;
        }
        &:before {
            border: solid 10px;
            border-color: #d8d8d8 transparent transparent transparent;
            box-sizing: border-box;
            content: '';
            display: block;
            height: 0;
            left: 20%;
            margin-left: -10px;
            position: absolute;
            bottom: -20px;
            width: 0;
            z-index: 99;
        }
    }
}
