@import 'lib';

.site-footer {
    background: $mainFooterColor;
    bottom: 0;
    margin: 0 auto;
    max-height: 40px;
    position: fixed;
    z-index: 3;
    width: 100%;

    > div {
        margin: 0 auto;
        max-width: 1200px;
    }

    a {
        color: #fff;
        display: block;
    }
    nav {
        display: table;
        font-size: 0;
        float: right;

        li {
            display: table-cell;
            vertical-align: middle;
        }
    }
    li {
        display: inline-block;
        font-size: 12px;

        a {
            display: table-cell;
            font-weight: 400;
            height: 40px;
            padding: 0 15px;
            text-decoration: none;
            vertical-align: middle;

            &:hover {
                color: #f1f1f1;
            }
        }
        &:last-child a {
            padding-right: 30px;
        }
        &:hover {
            background-color: $mainFooterHoverColor;
        }
    }
    .mozilla {
        background: url(../img/mozilla.png) 30px 10px no-repeat;
        background-size: auto 17px;
        min-height: 17px;
        padding: 10px 0;
        text-indent: -9999px;
        width: 120px;
        &:hover {
            background-color: $mainFooterHoverColor;
        }
    }
    .develop {
        background: url(../img/rocket.png) 10px 8px no-repeat;
        background-size: auto 15px;
        height: 30px;
        padding: 0 15px 0 25px;  // 15px for padding + 15px for icon
        &:hover {
            border-color: rgba(255,255,255,.6);
        }
    }
}
