@import 'lib';
// @import 'dropzone';
@import 'dropzone-pretty.css';

.forms label {
    display: block;
    margin-bottom: 2px;
}
.descr {
    color: $colorGrayLight;
    font-size: $smallFontSize;
    line-height: $baseLine/$em;
}
div.descr {
    margin: 4px 0;
}
.columnar div.descr {
    margin-bottom: 10px;
}
.forms ul {
    list-style: none;
    margin: 0;
}
.forms ul li {
    margin-bottom: 10px;
}
.forms.columnar ul li {
    margin-bottom: 15px;
}

/* liner fieldset */
fieldset.liner {
    border: none;
    padding: 0;
}
fieldset.liner legend {
    padding: 0;
    width: 100%;
    padding-bottom: 12px;
}
fieldset.liner legend span {
    padding: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
    display: block;
}
/* multicolumn */
.forms ul.multicolumn {
    &:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
    }
}
.forms ul.multicolumn li {
    float: left;
    margin-right: 12px;
    margin-bottom: 0;
    line-height: 1.8em;
}
.forms ul.multicolumn li label {
    margin-bottom: 0;
}
.forms ul.multicolumn li.width-50 {
    width: 48%;
    margin-right: 2%;
}
.forms ul.multicolumn li.width-33 {
    width: 31%;
    margin-right: 2%;
}
/* columnar */
.forms.columnar legend {
    margin-bottom: 1em;
}
.forms.columnar label  {
    float: left;
    width: $columnarWidth;
    text-align: right;
    margin-right: $columnarMargin;
}
.forms.columnar .push, .forms.columnar div.descr {
    margin-left: $columnarWidth + $columnarMargin;
}
.forms.columnar li fieldset label {
    float: none;
    width: auto;
    text-align: left;
    margin-right: 0;
}
.forms.columnar li fieldset {
    border: none;
    padding: 0;
    margin: 0;
    padding-left: $columnarWidth + $columnarMargin;
    position: relative;
}
.forms.columnar li fieldset section {
    padding: 0;
    position: absolute;
    width: $columnarWidth;
    text-align: right;
    left: 0;
    top: 0;
}
.forms.columnar li fieldset section label {
    float: none;
    width: auto;
    margin-right: 0;
    text-align: right;
}
.forms.columnar li fieldset div.descr {
    margin-left: 0;
}


/* section */
.forms li.form-section {
    font-weight: bold;
    border-bottom: 1px solid #eee;
    padding: 1.5em 0 .7em 0;
    font-size: 1.1em;
    margin-bottom: 1.5em;
}
.columnar li.form-section {
    padding-left: $columnarWidth + $columnarMargin;
}


/* tableforms */
table.tableforms td {
    font-size: 90%;
    padding: 1px 10px 3px 0 !important;
    border: none;
}
table.tableforms tr.labels td {
    padding-top: .8em !important;
    font-weight: bold;
}

input[type="radio"],
input[type="checkbox"] {
    position: relative;
    top: -1px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="datetime"],
input[type="number"],
input[type="date"],
input[type="url"],
input[type="search"],
textarea, .description-preview {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset;
    color: #333;
    font-family: $inputFontFamily;
    font-size: 13px;
    height: 23px;
    line-height: 1;
    margin: 0;
    padding: 1px 2px;
    position: relative;
    transition(border .3s ease-in);
    z-index: 2;
}

.potato-captcha {
    display: none;
}

textarea, .description-preview{
    line-height: 1.4em;
}

/* Errors and Success */
.error,
.success {
    margin-left: 5px;
    font-weight: normal;
    font-size: $smallFontSize;
}
form:not([novalidate]) {
    input.input-error, textarea.input-error, select.input-error, .input-error,
    input.focused:invalid, textarea.focused:invalid, textarea.focused.empty, select.focused:invalid {
        border-color: #da3e5a;
        box-shadow: 0 0 0 2px rgba(218, 62, 90, .3),0 1px 2px rgba(0, 0, 0, .2) inset;
    }
    input.input-success, textarea.input-success, select.input-success, .input-success,
    input.focused:valid, textarea.focused:not(.empty):valid, select.focused:valid {
        border-color: #18a011 ;
        box-shadow: 0 0 0 2px rgba(24, 160, 17, .3),0 1px 2px rgba(0, 0, 0, .2) inset;
    }
}
input.input-gray, textarea.input-gray, select.input-gray, .input-gray  {
    border-color: #ccc;
    box-shadow: 0 0 0 2px rgba(204, 204, 204, .3),0 1px 2px rgba(0, 0, 0, .2) inset;
}
input:focus, textarea:focus {
    outline: none;
    border-color: #5ca9e4;
    box-shadow: 0 0 0 2px rgba(70, 161, 231, .3), 0 1px 2px rgba(0, 0, 0, .2) inset;
}
input[type=checkbox], input[type=file], input[type=radio] {
    box-shadow: none !important;
}
input.input-search, input[type="search"] {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 0;
    border-radius: 15px;
}
.input-append, .input-prepend {
    display: inline-block;
    background-color: #eee;
    height: 23px;
    border: 1px solid #ccc;
    margin: 0;
    padding: 1px 8px;
    color: #333;
    font-size: 14px;
    line-height: 23px;
}
.input-prepend {
    margin-right: -1px;
}

.input-append {
    position: relative;
    margin-left: -1px;
}

.input-append,
.input-prepend {
    z-index: 2;
}

button, input, select, textarea, .description-preview {
    font: 100% $sourceFontFamily;
    margin: 0;
    max-width: 100%;
    vertical-align: middle;
}

button, input {
    line-height: normal;
}

button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
}

label {
    display: block;
    font-weight: 400;
}

::-webkit-input-placeholder {
    color: $gray;
}

:-moz-placeholder {
    color: $gray;
    text-overflow: ellipsis;  // Firefox 18 and below
}

::-moz-placeholder {
    text-overflow: ellipsis;  // Firefox 19+
}

[placeholder] {
    text-overflow: ellipsis;
    // Because bug 673873 is stupidface.
    // Yes, the order matters. Firefox 18 (and below) is clownshoes.
    &:-moz-placeholder:focus {
        color: transparent !important;
    }
    &:focus::-moz-placeholder {
        color: transparent !important;
    }
    &:focus::-webkit-input-placeholder {
        color: transparent !important;
    }
}

input[type=email], 
input[type=search], 
input[type=text], 
input[type=url], 
textarea, 
.input-prepend, 
.description-preview {
    border-radius: 2px;
    border: 1px solid $light-gray;
    padding: 5px;
    &[disabled], &[readonly] {
        background: $seavan-salt-white;
        color: $earl-gray;
        cursor: not-allowed;
    }
    &.large {
        font-size: 24px;
        height: 40px;
        line-height: 34px;
        padding: 4px;
    }
}

input[type=email],
input[type=search],
input[type=text],
input[type=url],
textarea, .description-preview {
    font-size: 18px;
    line-height: 22px;
    height: 30px;
    padding: 2px 4px;
    width: 100%;
    z-index: 2;
}
textarea, .description-preview {
    height: auto;
    min-height: 50px;
}

form {
    .span-grid {
        margin-top: 15px;
    }
    .toggle-preview {
        cursor: pointer;
        display: none;
    }
    .req {
        position: absolute;
        right: 0;
        &:after {
            border-radius: 2px;
            border: 2px solid lighten(#da3e5a, 80%);
            bottom: 5px;
            color: lighten(#da3e5a, 20%);
            content: attr(data-required);
            display: block;
            font-size: 10px;
            padding: 1px 3px;
            position: absolute;
            right: 12px;
            transition(unquote('opacity .1s, visibility .1s'));
            z-index: 2;
        }
    }
    .read-only {
        &:after {
            border: 2px solid #f0f0f0;
            color: #fff;
            display: inline;
            min-width: 45px;
        }
    }
    .opt:after {
        border: 2px solid #eee;
        color: #999;
    }
    .grid > .grid-flex-grow-two {
        padding-right: 50px;
    }
    input.large ~ .req:after {
        bottom: 10px;
    }
    textarea ~ .req:after {
        bottom: 11px;
    }
    textarea.large {
        height: 100px;
        ~ .req:after {
            bottom: 73px;
        }
    }
    .form-field > .req:after {
        bottom: -10px;
        right: 0;
    }
    :focus ~ .req:after,
    :not(.optional):valid ~ .req:after,
    .optional:not(.empty) ~ .req:after {
        opacity: 0;
        visibility: hidden;
    }

    .content {
        padding-top: 30px;
    }
    .form-field {
        position: relative;
    }
    .form-help {
        color: $colorGray;
        font-size: 12px;
    }

    .l {
        font-size: 10px;
    }
    [placeholder] {
        ~ .l {
            left: 0;
            line-height: 1;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 0;
            transition(unquote('.1s opacity ease-in, .2s visibility ease-in-out, .4s top ease-in-out'));
            visibility: hidden;
            z-index: 1;
        }
        &:focus ~ .l,
        &.focused:valid ~ .l {
            opacity: 1;
            pointer-events: default;
            top: -15px;
            visibility: visible;
        }
    }

    .input-prepend {
        border-radius: 2px 0 0 2px;
        float: left;
        line-height: 18px;
        height: 30px;
        padding: 5px;
    }
    input[name=slug] {
        max-width: 514px;
    }

    input[type=radio] {
        margin-right: 5px;
    }

    .choice {
        cursor: pointer;
        display: inline-block;
        margin-right: 20px;
    }

    input[type=file] {
        color: #666;
        font-size: 11px;
    }
}
