@import 'lib';

[data-page-type~="leaf"] .page {
    h1 {
        color: $flamin-hot-cheetos-orange;
        line-height: 1;
    }
}

[data-page-type~="profile"] .page {
    h1 .avatar {
        margin-right: 10px;
        vertical-align: top;
    }
}

$settings_avatar_size = 80px;
[data-page-type~="settings"] .page {
    h1 {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
    }
    .avatar {
        border-radius: $settings_avatar_size;
        display: inline-block;
        height: $settings_avatar_size;
        margin-right: 20px;
        vertical-align: middle;
        width: $settings_avatar_size;
    }
    .btn-edit-avatar {
        padding: 2px 10px;
    }
    .edit-avatar {
        bottom: -5px;
        margin-top: 5px;
    }
    .edit-profile {
        display: inline-block;
        width: 80%;  // can't use 100% width or it'll be displayed below avatar-container
    }
    .settings-body {
        margin: 0 auto;
        max-width: 1024px;
    }
}

[data-page-type~="friends"] .page {
    section {
        margin-top: 30px;
    }

    .user-search,
    .friends-list {
        width: 50%;
    }
    .user-search {
        margin-top: 15px;
    }
    .friends-list {
        list-style: none;
        padding: 15px 0 45px;

        li + li {
            margin-top: 10px;
        }
        .btn {
            float: right;
            margin-left: 15px;
        }
    }

    .profile-link {
        display: block;
        float: left;
        ellipsis();
        line-height: 32px;
    }
    .user-results {
        list-style-type: none;

        .profile-link {
            width: 300px;
        }
    }
    .avatar {
        float: left;
        margin-right: 7px;
    }
    .no-results:last-child {
        margin-bottom: 0;
    }
}
