@import 'lib';

[data-page-type~="profile"] .page h1 {
    color: $flamin-hot-cheetos-orange;
    line-height: 1;
    .avatar {
        display: inline-block;
        margin-right: 10px;
    }
}

.profile section {
    padding-top: 30px;
}