@import 'lib';

[data-page-type~="game"] {
    .trunc {
        ellipsis();
        margin-bottom: -6px;
        padding-bottom: 6px;
    }

    .page {
        &:before {
            background: #fdfe98 url(../img/homepage/hero.jpg) 50% 0 repeat-y;
            background-size: auto 785px;
            content: inherit;
            color:white;
            display: block;
            height: 215px;
            left: 0;
            opacity: .1;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .game-masthead {
        min-height: 100px;
        position: relative;
        z-index: 2;
    }

    .game-release-info {
        // padding-right: 170px = 35px (padding) + 120px (install button) + 15px (padding)
        // padding-left: 114px = 35px (padding) + 64px (icon) + 15px (padding)
        font-size: 12px;
        padding: 35px 170px 35px 114px;
        position: relative;

        h1 {
            margin-top: 5px;
        }

        .author {
            color: #ccc;
            font-size: 14px;
            font-style: italic;
            margin: 5px 0;
        }
        .author, .author a {
            color: #ddd;
        }

        dl, dt, dd {
            margin: 0;
        }
        dt {
            color: #999;
            float: left;
            font-weight: 400;
            margin-right: 5px;
        }
        dd {
            color: #c7c7c7;
            font-weight: 600;

            &:after {
                clear: both;
                content: "";
                display: block;
            }
        }
        .game-share {
            margin-top: 10px;
        }
    }

    .game-details {
        background: $colorWhite;
        padding: 35px;
        h1 {
            color: $colorGray;
        }
        h2 {
            color: $colorGrayDark;
            font-size: 24px;
            line-height: 26px;
        }
    }

    .game-install {
        position: absolute;
        right: 35px;
        top: 35px;
        width: 120px;

        .btn {
            display: block;
            margin-bottom: 10px;
            width: 100%;
        }
    }

    .board-section {
        min-height: 200px;
        overflow: hidden;
    }

    .leaderboard {
        background: #fff;
        float: left;
        margin-bottom: 20px;
        margin-right: 2%
        min-height: 140px;
        padding: 15px;  
        width: 23%;

        h3 {
            margin-bottom: 10px;
            text-align: center;
        }

        li {
            margin: 5px;

            span {
                float: right;
            }
        }

        ul {
            list-style: none;
        }

        table {
            width: 100%;

            td {
                padding-bottom: 5px;
                
                + td {
                    padding-left: 5px;
                }
            }

            td.middle {
                width: 100%;
            }
        }
    }
    .game-details-container {

        .game-details-container-left,
        .game-details-container-right  {
            padding-left: 20px;
            padding-right: 20px;
        }
        .game-details-container-left {
            .game-current-media {
                margin-bottom: 20px;
                div {
                    background: #000 no-repeat center;
                    background-size: contain;
                }
            }
        }
        .game-details-container-right {
            .game-media-list {
                height: 471px;
                overflow-y: scroll;
                padding: 5px;
                &::-webkit-scrollbar { 
                    display: none; 
                }
            }
            .game-media {
                cursor: pointer;
                margin-bottom: 20px;
                width: 100%;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .game-media.selected {
                outline: 5px solid rgba(255, 255, 255, 0.5);
            }
            
            .arrow:before {
                border-width: 15px 38px 0 37px;
                margin-left: -38px;
            }
        }
        .game-details-section {
            margin-bottom: 20px;
        }
        .game-name {
            color: #fff;
            font-size: 48px;
            line-height: 1em;
            margin-bottom: 7px; 
        }
        .game-developer {
            color: #cfcfcf;
            font-size: 18px;
            font-weight: 300;
        }
        .game-buttons-section {
            float: right;
            text-align: right;

            [class^="icon-"],
            [class*=" icon-"] {
                margin-left: 3px;
                margin-top: 6px;
            }
        }
        .play-button {
            border: 1px solid #467285;
            background: #33e0c2;
            color: #fff;
            font-size: 16px;
            padding: 10px 40px;
            text-shadow: none;
        }
        .game-description {
            color: #cfcfcf;
            font-size: 12px;
        }
        
        .game-detail-attribute {
            color: #fff;
            font-size: 0.8em;
            font-weight: 500;
            margin-bottom: 0;
            
            h2 {
                color: #b1b1b1;
                font-size: 0.8em;
                font-weight: 400;
                line-height: 0.8em;
                margin-bottom: 5px;
            }

            .game-browser-support {
                list-style: none;
                
                li {
                    margin-bottom: 2px;
                }

                [class^="icon-"],
                [class*=" icon-"] {
                    background-size: 14px;
                    height: 14px;
                    margin-right: 2px;
                    width: 14px;
                }
            }

            .icon-controller {
                margin: -1px 0 0 2px;
            }
        }
        .game-detail-error {
            color: #fff;
            padding: 20px;
            h2 {
                color: #fff;
            }
        }
    }
}

.toggly-section {
    display: none;

    &.current {
        display: block;
    }
}

.toggly {
    margin: 35px;

    ul {
        font-size: 0;
    }

    li {
        display: inline-block;
        font-size: 14px;

        + li {
            margin-left: 25px;
        }
    }

    a {
        border-radius: 2px;
        border: 1px solid transparent;
        color: #aaa;
        padding: 5px 10px;

        &:hover {
            background: rgba(60,60,60,.2);
            border-color: rgba(255,255,255,.1);
            text-decoration: none;
        }
        &.current {
            background: rgba(60,60,60,.8);
            border-color: rgba(255,255,255,.4);
            color: $flamin-hot-cheetos-orange;
        }
    }
}
