@import 'lib';

/* Solved by Flexbox */

/* Basic grid Styles */
.grid {
    display-flex();
}

.grid-cell {
    flex(1);
}

/* grid Style Modifiers */

/* With gutters */
.grid-gutters {
    margin-left: -1em;
}
.grid-gutters > .grid-cell {
    padding-left: 1em;
}

/* Alignment per row */
.grid-top {
    flex-align-items(flex-start);
}
.grid-bottom {
    flex-align-items(flex-end);
}
.grid-center {
    flex-align-items(center);
}

/* Alignment per cell */
.grid-cell-top {
    flex-align-self(flex-start);
}
.grid-cell-bottom {
    flex-align-self(flex-end);
}
.grid-cell-center {
    flex-align-items(center);
}

/* Responsive Modifiers */

/* Base classes for all media */
.grid-fit > .grid-cell {
    flex(1);
}
.grid-full > .grid-cell {
    flex(0 0 100%);
}
.grid-one-of-two > .grid-cell {
    flex(0 0 50%);
}
.grid-one-of-three > .grid-cell {
    flex(0 0 33.3333%);
}
.grid-one-of-four > .grid-cell {
    flex(0 0 25%);
}

/* Small to medium screens */
@media (min-width: 24em) {
    .small-grid-fit > .grid-cell {
        flex(1);
    }
    .small-grid-full > .grid-cell {
        flex(0 0 100%);
    }
    .small-grid-one-of-two > .grid-cell {
        flex(0 0 50%);
    }
    .small-grid-one-of-three > .grid-cell {
        flex(0 0 33.3333%);
    }
    .small-grid-one-of-four > .grid-cell {
        flex(0 0 25%);
    }
}

/* Large screens */
@media (min-width: 48em) {
    .large-grid-fit > .grid-cell {
        flex(1);
    }
    .large-grid-full > .grid-cell {
        flex(0 0 100%);
    }
    .large-grid-one-of-two > .grid-cell {
        flex(0 0 50%);
    }
    .large-grid-one-of-three > .grid-cell {
        flex(0 0 33.3333%);
    }
    .large-grid-one-of-four > .grid-cell {
        flex(0 0 25%);
    }
}

// Grid cells with these styles will be X times 
// the width of the other cells in the same row.

.grid-flex-grow-two {
    flex-grow(2);
}
.grid-flex-grow-three {
    flex-grow(3);
}
.grid-flex-grow-four {
    flex-grow(4);
}
.grid-flex-grow-five {
    flex-grow(5);
}
.grid-flex-grow-six {
    flex-grow(6);
}
