// styles for the global site header only.
@import 'lib';

// ***************** Wide Mobile (600+ px)

// usable on any header
.header {
    background: rgba(92, 158, 191, 0.22);
    border-bottom: 1px solid $seavan-salt-white;
    display-flex();
    height: 48px;
    max-height: 48px;
    position: relative;
    width: 100%;
    > * {
        flex-center();
    }
    .flex-shift, .title {
        flex(1);
        padding-left: 10px;
    }
    .title {
        color: $castle-skull-gray;
        font-size: 18px;
        font-weight: 400;
        line-height: 48px;
        z-index: 10;
    }
}

// # for the primary site header *only*. If you need to generalize a style in here, move it.
.site-header {
    display: block;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 20;

    &:before {
        display: none;
    }
    > * {
        display: block;
    }
    .inner {
        height: 48px;
        display-flex();
        position: relative;
        text-align: left;
        width: 100%;

        > * {
            flex-center();
            display: block;
        }
    }
    .wordmark {
        color: #fff;
        display: block;
        font-size: 24px;
        line-height: 60px;
        position: relative;
        text-shadow: 0 0 4px rgba(0, 255, 255, 0.5);
        transition: unquote('text-shadow 0.5s');
        -webkit-transition: unquote('text-shadow 0.5s');

        &:before {
            box-shadow: inset 0 0 0.5em rgba(0, 255, 255, 0.7), inset 0 0 0.25em rgba(255, 255, 255, 0.5), 0 0 0.5em rgba(0, 255, 255, 0.5);
            border-radius: 1em;
            content: "";
            display: inline-block;
            height: 1em;
            margin-bottom: -0.15em;
            margin-right: 0.5em;
            width: 1em;
        }
        &:after {
            animation(unquote('10s spin infinite steps(300)'));
            box-shadow: inset 0 0 0.25em rgba(0, 255, 255, 0.7);
            border-radius: 1em;
            content: "";
            display: block;
            height: 0.5em;
            margin-top: -0.5em;
            left: 0;
            position: absolute;
            top: 50%;
            transform-origin: 0.5em 0.5em;
            -webkit-transform-origin: 0.5em 0.5em;
            width: 0.5em;
        }
        &:hover {
            text-decoration: none;
            text-shadow: 0 0 10px #0ff;
        }
    }
    .header-button {
        display: none;
    }

    input[type=search] {
        background: rgba(0, 0, 0, 0.5);
        border: 0;
        border-radius: 30px;
        line-height: 26px;
        margin-right: 1.5em;
    }
}

selectedNav() {
    background: rgba(0,0,0,.4);
    color: #f1f1f1;
    position: relative;
    &:before {
        background: $flamin-hot-cheetos-orange;
    }
}

// Main navigation
.site-header nav {
    font-size: 0;
    height: 58px;
    max-width: 1024px;
    position: absolute;

    li {
        display: inline-block;
        font-size: 0;
    }

    a {
        color: #d7d7d7;
        display: inline-block;
        font-size: 13px;
        height: 58px;
        padding: 20px 15px;
        text-decoration: none;

        &:before {
            border-radius: 2px;
            content: "";
            display: block;
            height: 3px;
            position: relative;
            top: 35px;
            transition: unquote('background .4s');
        }
        &:hover {
            background: rgba(0,0,0,.1);
            color: #e7e7e7;
            &:before {
                background: rgba(255,255,255,.6);
            }
        }
    }

    [data-page-type~="root"] & .home,
    [data-page-type~="root"] & .home:hover,
    [data-page-type~="library"] & .library,
    [data-page-type~="library"] & .library:hover,
    [data-page-type~="friends"] & .friends,
    [data-page-type~="friends"] & .friends:hover,
    [data-page-type~="achievements"] & .achievements,
    [data-page-type~="achievements"] & .achievements:hover {
        selectedNav();
    }
}

.site-header .auth {
    display: table-cell;
    min-width: 84px;
    vertical-align: middle;
    white-space: nowrap;
    a {
        color: #d7d7d7;
        display: inline-block;
    }
    .avatar {
        float: left;
        margin-right: 7px;
    }
    .logout {
        color: #a7a7a7;
        font-size: 11px;
    }
}

.close {
    background: url(../img/pretty/close.svg) 50% no-repeat;
    background-size: 18px auto;
    height: 34px;
    hidetext();
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}

// Buttons that appear in headers.
.header-button {
    color: #fff;
    display: block;
    font-size: 1.25em;
    height: 48px;
    line-height: 48px;
    text-align: center;
}

// On hover the settings gear icon should turn blue.
// On the Account Settings page the gear should also turn blue.
.act-tray.active .header-button.settings,
[data-page-type~=settings] .header-button.settings {
    background-image: url(../img/pretty/settings_gear_active.svg);
}


@media $narrower-than-desktop {
    .hide-on-mobile {
        display: none;
    }
    .secondary-header {
        height: 40px;
        h2 {
            font-size: 15px;
            line-height: 40px;
            margin: 0 10px;
        }
        .subtitle, .subtitle:before {
            font-size: 15px;
        }
        .subtitle {
            font-weight: 400;
        }
    }
}

// When we're holding down on the debug page, don't allow clicking on the logo
// because that would take us back home.
[data-page-type~=debug] .header .wordmark {
    pointer-events: none;
}


// ***************** Cursor (Desktop) (>= 1024px)

// This probably shouldn't be media query based.
@media (min-width: 1024px) {

    .site-header {
        height: 60px;
        max-height: 60px;
        position: relative;
        .inner {
            height: 60px;
            margin: 0 auto;
            max-width: 1024px;
        }
        .site {
            margin: 0;
            // width: 232px;
        }
        .site, .site a, .wordmark {
            height: 60px;
        }
        .wordmark {
            background-position: -5px 50%;
            background-size: auto 46px;
            max-width: 150px;
            width: 150px;
        }
        .persona {
            display: block;
        }
    }

}
