section.hero {
    background: url(../img/homepage/hero.jpg) no-repeat top right;
    padding: 400px 0 0;
    position: relative;

    > div {
        background: rgba(0, 0, 0, 0.5);
        bottom: 0;
        left: 0;
        padding: 1.5em;
        position: absolute;
        right: 0;
    }
    h1 {
        font-size: 35px;
        margin-bottom: 0.5em;
    }
    a.purchase {
        color: #dff;
        font-size: 1.25em;
        font-style: oblique;
        position: absolute;
        right: 1.5em;
        top: 1em;

        &:after {
            content: "»";
            margin-left: 0.25em;
        }
    }
}

menu.games {
    margin: 3em 0;
    text-align: center;
    perspective: 300px;
    -webkit-perspective: 500px;
    perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;

    a.game {
        background: rgba(100, 200, 200, 0.75);
        border: 2px solid #fff;
        border-radius: 2px;
        box-shadow: inset 0 0 10px #0ff;
        color: #fff;
        display: inline-block;
        padding: 0.75em;
        position: relative;
        transition: unquote('transform 0.5s, opacity 0.25s');
        -webkit-transition: unquote('-webkit-transform 0.5s');
        text-shadow: 0 0 4px #0ff;
        z-index: 5;

        img {
            height: 200px;
            width: 200px;
        }
        > div {
            background: rgba(0, 0, 0, 0.5);
            bottom: 0;
            left: 0;
            padding: 0.5em;
            position: absolute;
            right: 0;

            > strong {
                display: block;
                font-family: Electrolize;
                font-size: 1.5em;
            }
        }

        &.prev, &.next {
            opacity: 0.5;
            z-index: 4;

            + .next {
                z-index: 3;
            }
        }
        &.prev {
            margin-right: -100px;
            transform: rotateY(30deg) scaleX(0.9);
            -webkit-transform: rotateY(30deg) scaleX(0.9);
        }
        &.next {
            margin-left: -100px;
            transform: rotateY(-30deg) scaleX(0.9);
            -webkit-transform: rotateY(-30deg) scaleX(0.9);
        }
        &:hover, &.next:hover {
            opacity: 1;
            transform: scale(1.1, 1.1);
            -webkit-transform: scale(1.2, 1.2);
            z-index: 6;
        }
    }
}

.play, .purchase {
    background: rgba(100, 200, 200, 0.75);
    border: 0;
    color: #fff;
    float: right;
    padding: 8px 20px;
    &:hover {
        background: rgb(100, 200, 200);
    }
}

.purchase:hover {
    text-decoration: none;
}
