@import 'lib';

[data-page-type~="root"] .right-container {
    
    position: relative; 

    &:before {
        background: #fdfe98 url(../img/homepage/hero.jpg) 50% 0;
        background-size: cover;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        opacity: .1;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .homepage-content {

        position: relative;
        text-align: center;
        z-index: 1;

        h1 {
            color: #fff;
            font-weight: 200;
            line-height: 1.2em;
        }

        .homepage-heading {
            margin: 30px 0;
            text-align: center;
            img, span {
                display: inline-block;
            }
            img {
                height: 135px;
            }
            span {
                color: #fff;
                font-size: 64px;
                font-weight: 600;
                line-height: 135px;
                margin: 0 40px;
                vertical-align: top;
            }
        }

        .screenshots {
            margin: 20px;
            img {
                height: 230px;
                margin: 10px;
            }
        }
    }
}

