@import 'lib';

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: $small;
    height: $small;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: $small;
    vertical-align: text-top;
    background-repeat: no-repeat;
    background-size: $small $small;
}

.icon-medium {
    background-size: $medium $medium;
    height: $medium;
    width: $medium;
}

.icon-chrome {
    background-image: url('../img/new-game-details/icon-chrome.png');
}

.icon-controller {
    background-image: url('../img/new-game-details/icon-controller.png');
}

.icon-facebook {
    background-image: url('../img/new-game-details/icon-facebook.png');
}

.icon-firefox {
    background-image: url('../img/new-game-details/icon-firefox.png');
}

.icon-twitter {
    background-image: url('../img/new-game-details/icon-twitter.png');
}
