@import 'lib';

.media {
    .form-help {
        margin-bottom: 5px;
        margin-right: 50px;
    }
    .req:after {
        bottom: auto;
        top: 5px;
    }
    .media-left,
    .media-right {
        padding-right: 80px;
    }
    .media-size {
        border: 1px solid $colorGrayLightest;
        border-radius: 2px;
        color: $colorGrayLighter;
        display: inline-block;
        font-size: 10px;
        margin-top: 15px;
        padding: 1px 3px;
        .inner {
            color: $colorGrayLightest;
        }
    }
    input,
    ::-webkit-input-placeholder {
        font-size: 12px;
    }
}

.media-preview {
    background-color: $mediaPreviewBackgroundColor;
    display: block;
    cursor: pointer;
    margin: 5px 0;
    max-width: 100%;
    position: relative;
    &:empty {
        border: $mediaPreviewBorder;
        border-radius: 2px;
    }
}

.icons {
    .icons-dimensions {
        border: 1px solid $colorGrayLighter;
        border-radius: 2px;
        color: $colorGrayLighter;
        display: inline-block;
        font-size: 10px
        padding: 1px 3px;
    }

    .media-preview {
        height: 128px;
        width: 128px;
        &:before {
            background: url('../img/game-submission/upload-blue.png') 50% 0 no-repeat;
            background-size: 50px 50px;
            content: "";
            display: block;
            height: 50px;
            position: absolute;
            top: 25px;
            width: 100%;
        }
        &:not(.icons-64):after {
            bottom: 17px;
            color: $colorLightBlue;
            content: "Drag and drop or select";
            display: block;
            font-size: 12px;
            margin-left: 20%;
            position: absolute;
            text-align: center;
            width: 60%;
        }
        &.icons-64 {
            height: 64px;
            width: 64px;
            &:before {
                background-size: 25px 25px;
                top: 20px;
            }
        }
    }
}

.screenshots {
    .media-preview {
        height: 210px;
        &:before {
            background: url('../img/game-submission/upload-blue.png') 50% 0 no-repeat;
            background-size: 80px 80px;
            content: "";
            display: block;
            height: 80px;
            position: absolute;
            top: 50px;
            width: 100%;
        }
        &:after {
            bottom: 35px;
            color: $colorLightBlue;
            content: "Drag and drop or select";
            display: block;
            margin-left: 32%;
            position: absolute;
            text-align: center;
            width: 36%;
        }
        &.screenshots-16-9 {
            height: 157px;
            &:before {
                top: 20px;
            }
            &:after {
                bottom: 15px;
            }
        }
    }
}

.videos {
    .media-preview {
        cursor: default;
        height: 210px;
        &:before {
            background: url('../img/game-submission/preview-blue.png') 53% 0 no-repeat;
            background-size: 80px 80px;
            content: "";
            display: block;
            height: 80px;
            position: absolute;
            top: 60px;
            width: 100%;
        }
        &:after {
            bottom: 55px;
            color: $colorLightBlue;
            content: "Preview";
            display: block;
            position: absolute;
            text-align: center;
            width: 100%;
        }
        iframe {
            position: relative;
            z-index: 1;
        }
    }
}

input[type=url].media {
    margin-bottom: 5px;
}
