@import 'lib';

.media-preview {
    background-color: $mediaPreviewBackgroundColor;
    border: $mediaPreviewBorder;
    border-radius: 2px;
    display: block;
    margin: 5px 0;
    max-width: 100%;
    position: relative;
}

.icons .media-preview {
    max-height: 128px;
    max-width: 128px;
}

.videos .media-preview {
    height: 210px;
    &:before {
        background: url('../img/game-submission/preview-blue.png') 53% 0 no-repeat;
        background-size: 80px 80px;
        content: "";
        display: block;
        height: 80px;
        position: absolute;
        top: 60px;
        width: 100%;
    }
    &:after {
        bottom: 55px;
        color: $colorLightBlue;
        content: "Preview";
        position: absolute;
        text-align: center;
        width: 100%;
    }
}

.media-size {
    color: $colorGrayLight;
    font-size: 10px;
    margin-top: 15px;
}

input[type=url].media {
    margin-bottom: 5px;
}

.media {
    .form-help {
        margin-bottom: 5px;
        margin-right: 50px;
    }
    .req:after {
        bottom: auto;
        top: 5px;
    }
    .media-left,
    .media-right {
        padding-right: 80px;
    }
}
