@import 'lib';

.media-preview {
    cursor: pointer;
    display: block;
}

.media-preview {
    display: none;
    margin-top: 5px;
    max-height: 150px;
    max-width: 200px;
}

.icons .media-preview {
    max-height: 128px;
    max-width: 128px;
}

.videos .media-preview {
    max-height: 150px;
    max-width: 200px;
}

.media-size {
    color: $colorGrayLight;
    font-size: 10px;
    margin-top: 15px;
}

input[type=url].media {
    margin-bottom: 5px;
}

.media {
    .form-help {
        margin-bottom: 5px;
        margin-right: 50px;
    }
    .req:after {
        bottom: auto;
        top: 5px;
    }
}
