@import 'lib';

.td-fit-content {
    width: 1%;
    white-space: nowrap;
}

[data-page-type~="review"] .page {
    table {
        border-collapse: separate; 
        width: 100%;
        
        thead tr {
            margin-bottom: 50px;
            text-align: left;
        }

        // Acts as padding between the header and body
        tbody:before {
            content: '\200C';
            display: block;
            line-height: 5px;
        }

        tbody td {
            padding: 5px 0;
            &:not(:last-child) {
                padding-right: 20px;
            }

            &.review-title {
                @extend .td-fit-content;
            }
            &.review-buttons {
                @extend .td-fit-content;
                .btn {
                    margin-left: 10px;
                }
            }
        }
    }
}