@import 'lib';

[data-page-type~="review"] .page {
    .review-table {
        border-collapse: separate; 
        width: 100%;
        
        thead tr th {
            text-align: left;
            padding-bottom: 10px;
        }

        tbody td {
            padding: 5px 0;
            &:not(:last-child) {
                padding-right: 10px;
            }
        }

        .review-buttons {
            text-align: right;
            a {
                margin-left: 8px;
                margin-right: 8px;
            }
            .secondary-buttons {
                display: inline-block;
                margin-left: 10px;
                font-size: 1.25em;
                vertical-align: middle;
            }

            .review-view {
                darken-text-on-hover($buttonColorBlue, $buttonHoverStateDarken);
            }
            .review-edit {
                darken-text-on-hover($buttonColorTeal, $buttonHoverStateDarken);
            }
            .review-delete {
                darken-text-on-hover($buttonColorRed, $buttonHoverStateDarken);
            }
            .review-disable {
                darken-text-on-hover($buttonColorGray, $buttonHoverStateDarken);
            }
        }
    }
}
