@import 'lib';

// Site-wide or structural styles only in this file.
// Can't find a better file for your style? Create one!
// This is not your diaper.

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    //text-rendering: optimizeLegibility;
    word-wrap: break-word;
}

.js-hidden, .hidden {
    display: none;
}

noscript {
    background: $salt-flat-white;
    display: table;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
    p {
        background: url(../img/pretty/marketplace_logo.png) 50% 48% no-repeat;
        background-size: auto 60px;
        display: table-cell;
        font-weight: bold;
        height: 100%;
        padding-top: 60px;
        text-align: center;
        vertical-align: middle;
    }
}

a {
    text-decoration: none;
    color: $sailor-blue;

    &:hover {
        text-decoration: underline;
    }
    &:not([href]) {
        cursor: pointer;
    }
}

html, body {
    background: #11203D;
    height: 100%;
}

body {
    color: #333;
    // min-height needed so ff b2g/android can scroll to 0 (bug 872622).
    min-height: 300px;
    transform-origin: 50% 400px;
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
}

main {
    margin: 0 auto;
    max-width: 1024px;
}

.site-header, .page {
    min-width: 320px;
    section.main {
        margin-left: auto;
        margin-right: auto;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        &.full {
            width: 100%;
            > div {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.page {
    padding-bottom: 6px;
    position: relative;
}

[data-page-type~="leaf"] .page {
    background: $colorWhite;
    margin-bottom: 6px;
    padding: 40px 35px;
    h1 {
        color: $colorGray;
    }
    h2 {
        color: $colorGrayDark;
        font-size: 24px;
        line-height: 26px;
    }
}

.row {
    clear: both;
}

.detailed-error, .fragment-error {
    background: #fff;
}

.detailed-error {
    padding: 15px;
}

.fragment-error b {
    margin-right: 5px;
}

.page > .overlay {
    max-width: 100%;
}

.two-up {
    width: 50%;
    float: left;

    &:nth-child(2n+1) {
        padding: 0 5px 0 0;
    }
    &:nth-child(2n) {
        padding: 0 0 0 5px;
    }
    .button {
        display: block;
    }
}

.only-logged-in {
    display: none !important;
}

.only-logged-out {
    display: block;
}

.logged-in .only-logged-in {
    display: block !important;
}

.logged-in .only-logged-out {
    display: none !important;
}

.spinner {
    spinner();
    &.alt {
        spinner-alt-image();
    }
    &.btn-replace {
        spinner-abs();
        top: 24px;
    }
    &.spaced {
        margin: 70px auto;
    }
    &.padded {
        padding: 70px 0;
    }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0turn); }
    to { -webkit-transform: rotate(1turn); }
}
@keyframes spin {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}

@media $retina {
    .spinner {
        spinner-base-image('retina');
        &.alt {
            spinner-alt-image('retina');
        }
    }
}

.badge {
    color: #fff;
    display: inline-block;
    font-family: FontAwesome;
    height: 2em;
    line-height: 2em;
    margin: 0.75em 0.5em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #0ff;
    width: 2em;

    &:before, &:after {
        border: 1px solid #fff;
        bottom: 0;
        box-shadow: 0 0 5px #0ff, inset 0 0 10px #0aa;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: unquote('transform 0.5s');
        -webkit-transition: unquote('-webkit-transform 0.5s');
    }
    &:before {
        transform: rotate(10deg);
    }
    &:after {
        transform: rotate(-10deg);
    }
}

.badge:hover,
a:hover .badge {
    text-decoration: none;

    &:before { transform: rotate(25deg); }
    &:after { transform: rotate(-25deg); }
}

.avatar {
    background: #fff no-repeat;
    background-size: contain;
    border-radius: 32px;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    display: inline-block;
    height: 32px;
    width: 32px;
}

[data-page-type="debug"] .page {
    background: #fff;
    padding: 35px;
}

/* Solved by Flexbox */

/* Basic grid Styles */
.grid {
    display: flex;
}

.grid-cell {
    flex: 1;
}

/* grid Style Modifiers */

/* With gutters */
.grid-gutters {
    margin-left: -1em;
}
.grid-gutters > .grid-cell {
    padding-left: 1em;
}

/* Alignment per row */
.grid-top {
    align-items: flex-start;
}
.grid-bottom {
    align-items: flex-end;
}
.grid-center {
    align-items: center;
}

/* Alignment per cell */
.grid-cell-top {
    align-self: flex-start;
}
.grid-cell-bottom {
    align-self: flex-end;
}
.grid-cell-center {
    align-self: center;
}

/* Responsive Modifiers */

/* Base classes for all media */
.grid-fit > .grid-cell {
    flex: 1;
}
.grid-full > .grid-cell {
    flex: 0 0 100%;
}
.grid-one-of-two > .grid-cell {
    flex: 0 0 50%;
}
.grid-one-of-three > .grid-cell {
    flex: 0 0 33.3333%;
}
.grid-one-of-four > .grid-cell {
    flex: 0 0 25%;
}

/* Small to medium screens */
@media (min-width: 24em) {
    .small-grid-fit > .grid-cell {
        flex: 1;
    }
    .small-grid-full > .grid-cell {
        flex: 0 0 100%;
    }
    .small-grid-one-of-two > .grid-cell {
        flex: 0 0 50%;
    }
    .small-grid-one-of-three > .grid-cell {
        flex: 0 0 33.3333%;
    }
    .small-grid-one-of-four > .grid-cell {
        flex: 0 0 25%;
    }
}

/* Large screens */
@media (min-width: 48em) {
    .large-grid-fit > .grid-cell {
        flex: 1;
    }
    .large-grid-full > .grid-cell {
        flex: 0 0 100%;
    }
    .large-grid-one-of-two > .grid-cell {
        flex: 0 0 50%;
    }
    .large-grid-one-of-three > .grid-cell {
        flex: 0 0 33.3333%;
    }
    .large-grid-one-of-four > .grid-cell {
        flex: 0 0 25%;
    }
}

// Grid cells with these styles will be X times 
// the width of the other cells in the same row.

.grid-flex-grow-two {
    flex-grow: 2;
}
.grid-flex-grow-three {
    flex-grow: 3;
}
.grid-flex-grow-four {
    flex-grow: 4;
}
.grid-flex-grow-five {
    flex-grow: 5;
}
.grid-flex-grow-six {
    flex-grow: 6;
}
