@import 'lib';

[data-page-type~="leaf"] .page {
    background: $colorWhite;
    margin-bottom: 6px;
    padding: 40px 35px;
    h1 {
        color: $colorGray;
    }
    h2 {
        color: $colorGrayLight;
        font-size: 24px;
        line-height: 26px;
    }
}
