@import 'lib';

body {
    font: 400 15px $sourceFontFamily;
}

h1, h2, h3, h4 {
    font-family: $sourceFontFamily;
    font-weight: 300;
}

h1 {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 15px;
}

h2 {
    color: $castle-skull-gray;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
}

h3 {
    color: $castle-skull-gray;
    font-size: 15px;
    line-height: 15px;
}

.listing h3 {
    font-size: 18px;
}

h4 {
    color: $dark-gray;
    font-size: 16px;
}

b, strong {
    font-weight: 600;
}

address {
    color: $medium-gray;
    font-style: normal;
}

.policy-statement {
    line-height: 1.4;
    padding: 5px;
}

dl {
    margin: 0;
}

dt {
    font-weight: bold;
}

dd {
    color: $dark-gray;
    margin: 0 0 10px;
}

.lineclamp.author {
    overflow: hidden;
}

article {
    background: #fff;
    border: 1px solid $seavan-salt-white;
    border-radius: 5px;
    margin: 10px;
    padding: 15px 10px;
}

@media $narrower-than-desktop {
    .back-to-app {
        display: none;
    }
}

@media $at-least-desktop {
    h2 {
        font-size: 40px;
        font-weight: 300;
        line-height: 50px;
    }
    article {
        border-radius: 10px;
        margin: 48px 0 0;
        padding: 18px 15px;
    }
}

.prose {
    color: $london-fog-gray;
    h3, h4 {
        font-weight: 500;
    }
    h3 {
        color: $castle-skull-gray;
        font-size: 24px;
        line-height: 28px;
    }
    h4 {
        color: $grey-gardens-gray;
        font-size: 18px;
        line-height: 24px;
    }
    blockquote, dl, h3, h4, ol, p, ul {
        margin: 24px 0;
    }
    :first-child {
        margin-top: 0;
    }
    :last-child {
        margin-bottom: 0;
    }
    address, blockquote, dl, ol, ul {
        margin-left: 48px;
    }
    address, blockquote {
        margin-right: 48px;
    }
    dl, ol, ul {
        margin-left: 40px;
    }
    li + li {
        padding-top: 1em;
    }
}

@media $narrower-than-desktop {
    .prose {
        address, blockquote, dl, ol, ul {
            margin-left: 24px;
        }
        address, blockquote {
            margin-right: 24px;
        }
    }
}

.no-results {
    color: #ccc;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    padding: 10px 0;
}

p + p {
    margin-top: 20px;
}
